[Unit]
Description=Lorax Image Composer API Server
After=network-online.target
Wants=network-online.target
Documentation=man:lorax-composer(1),https://weldr.io/lorax/lorax-composer.html

[Service]
User=root
Type=simple
PIDFile=/run/lorax-composer.pid
ExecStartPre=/usr/bin/systemd-tmpfiles --create /usr/lib/tmpfiles.d/lorax-composer.conf
ExecStart=/usr/sbin/lorax-composer /var/lib/lorax/composer/blueprints/

[Install]
WantedBy=multi-user.target
