[Unit]
Description=lorax-composer socket activation
Documentation=man:lorax-composer(1),https://weldr.io/lorax/lorax-composer.html

[Socket]
ListenStream=/run/weldr/api.socket
SocketUser=root
SocketGroup=weldr
SocketMode=0660
DirectoryMode=0750

[Install]
WantedBy=sockets.target
