[Unit]
Description=Lorax Image Composer API Server
After=network-online.target
Wants=network-online.target

[Service]
User=root
Type=simple
ExecStart=/usr/sbin/lorax-composer /var/lib/lorax-composer/recipes/

[Install]
WantedBy=multi-user.target
