## livemedia-creator: Install packages needed for iso creation using per-arch templates
<%page args="basearch"/>

## arch-specific bootloader packages
%if basearch == "aarch64":
    installpkg efibootmgr
    installpkg grub2-efi-aa64-cdboot shim-aa64
%endif
%if basearch in ("arm", "armhfp"):
    installpkg efibootmgr
    installpkg grub2-efi-arm-cdboot
    installpkg uboot-tools
%endif
%if basearch == "x86_64":
    installpkg grub2-tools-efi
    installpkg efibootmgr
    installpkg shim-x64 grub2-efi-x64-cdboot
    installpkg shim-ia32 grub2-efi-ia32-cdboot
%endif
%if basearch in ("i386", "x86_64"):
    installpkg biosdevname memtest86+ syslinux
    installpkg grub2-tools grub2-tools-minimal grub2-tools-extra
%endif
%if basearch == "ppc64le":
    installpkg powerpc-utils
    installpkg grub2-tools grub2-tools-minimal grub2-tools-extra
    installpkg grub2-${basearch}
%endif
%if basearch == "s390x":
    installpkg s390utils-base
%endif
