## lorax template file: cleanup for the ramdisk (runtime image)
<%page args="removelocales, libdir, arch, product, root"/>

## remove_locales()
%for locale in removelocales:
    remove usr/share/locale/${locale}
%endfor

## not required packages installed as dependencies
removepkg ConsoleKit-x11
removepkg alsa-lib
removepkg augeas-libs
removepkg authconfig-gtk
removepkg avahi-autoipd
removepkg avahi-libs
removepkg basesystem
removepkg checkpolicy
removepkg clusterlib
removepkg clutter
removepkg clutter-gesture
removepkg clutter-imcontext
removepkg cman
removepkg control-center-filesystem
removepkg coreutils-libs
removepkg corosync
removepkg corosynclib
removepkg cronie
removepkg cronie-anacron
removepkg crontabs
removepkg cups-libs
removepkg curl
removepkg cyrus-sasl
removepkg cyrus-sasl-md5
removepkg dash
removepkg db4-utils
removepkg dejavu-fonts-common
removepkg deltarpm
removepkg desktop-file-utils
removepkg device-mapper-event
removepkg diffutils
removepkg dmraid-events
removepkg dracut
removepkg fedora-release
removepkg fedora-release-rawhide
removepkg fence-agents
removepkg fence-virt
removepkg file
removepkg fipscheck
removepkg flac
removepkg fontpackages-filesystem
removepkg genisoimage
removepkg gnome-python2
removepkg gnome-vfs2
removepkg gnupg2
removepkg grubby
removepkg gstreamer-tools
removepkg hal-libs
removepkg info
removepkg ipmitool
removepkg iptables
removepkg iptables-ipv6
removepkg isomd5sum
removepkg jasper-libs
removepkg json-glib
removepkg kbd-misc
removepkg libIDL
removepkg libXScrnSaver
removepkg libXmu
removepkg libXres
removepkg libXt
removepkg libXv
removepkg libXvMC
removepkg libXxf86misc
removepkg libXxf86vm
removepkg libasyncns
removepkg libccss
removepkg libcgroup
removepkg libcroco
removepkg libdaemon
removepkg libevent
removepkg libgnome
removepkg libhbaapi
removepkg libhbalinux
removepkg libibverbs
removepkg libmcpp
removepkg libmodman
removepkg libmx
removepkg libnih
removepkg libpcap
removepkg libproxy
removepkg librdmacm
removepkg librsvg2
removepkg libselinux-utils
removepkg libsndfile
removepkg libsoup
removepkg libtiff
removepkg libutempter
removepkg libvirt-client
removepkg libwnck
removepkg libxslt
removepkg linux-atm-libs
removepkg llvm
removepkg lm_sensors-libs
removepkg logrotate
removepkg lvm2-libs
removepkg m4
removepkg mailx
removepkg makebootfat
removepkg mcpp
removepkg mesa-dri-drivers
removepkg mesa-libGL
removepkg mingetty
removepkg mobile-broadband-provider-info
removepkg modcluster
removepkg mutter-mbl
removepkg mutter-moblin
removepkg nbtk
removepkg nc
removepkg net-snmp-libs
removepkg net-snmp-perl
removepkg net-snmp-utils
removepkg netcf-libs
removepkg nfs-utils-lib
removepkg nss-sysinit
removepkg nss-tools
removepkg ntp
removepkg numactl
removepkg oddjob
removepkg openais
removepkg openaislib
removepkg passwd
removepkg perl
removepkg perl-Module-Pluggable
removepkg perl-Net-Telnet
removepkg perl-Pod-Escapes
removepkg perl-Pod-Simple
removepkg perl-libs
removepkg perl-threads
removepkg perl-threads-shared
removepkg pexpect
removepkg pinentry
removepkg pkgconfig
removepkg plymouth
removepkg plymouth-core-libs
removepkg plymouth-scripts
removepkg ppp
removepkg pth
removepkg pulseaudio-libs
removepkg redhat-menus
removepkg ricci
removepkg rmt
removepkg rpcbind
removepkg selinux-policy
removepkg setuptool
removepkg sg3_utils
removepkg sg3_utils-libs
removepkg sgml-common
removepkg sgpio
removepkg shadow-utils
removepkg shared-mime-info
removepkg smc-fonts-common
removepkg sound-theme-freedesktop
removepkg squashfs-tools
removepkg system-config-firewall-base
removepkg system-config-users
removepkg telnet
removepkg tigervnc-license
removepkg ttmkfdir
removepkg un-core-fonts-common
removepkg usermode
removepkg usermode-gtk
removepkg vlgothic-fonts-common
removepkg xdg-utils
removepkg xen-libs
removepkg xen-licenses
removepkg xml-common
removepkg xorg-x11-font-utils
removepkg xorg-x11-server-common
removepkg xorg-x11-xauth
removepkg xorg-x11-xinit
removepkg yajl
removepkg yum-utils

## other removals
remove /usr/share/doc
remove /usr/share/info
remove /usr/share/man
remove /usr/share/gnome
remove /usr/share/mime/application
remove /usr/share/mime/audio
remove /usr/share/mime/image
remove /usr/share/mime/inode
remove /usr/share/mime/message
remove /usr/share/mime/model
remove /usr/share/mime/multipart
remove /usr/share/mime/packages
remove /usr/share/mime/text
remove /usr/share/mime/video
remove /usr/share/mime/x-content
remove /usr/share/mime/x-epoc
remove /boot
remove /home
remove /media
remove /mnt
remove /opt
remove /srv
remove /usr/etc
remove /usr/games
remove /usr/local
remove /usr/tmp
remove /var/db
remove /var/games
remove /var/lib/rpm/*
remove /var/lib/yum
remove /var/local
remove /var/mail
remove /var/nis
remove /var/opt
remove /var/preserve
remove /var/report
remove /var/spool
remove /var/tmp
remove /var/yp

## icons cache
remove /usr/share/icons/*/icon-theme.cache

## remove systemd for F15, otherwise clean it up
%if int(product.version) == 15:
    remove /cgroup /var/cache /var/log
    removepkg chkconfig filesystem systemd-units
    removefrom NetworkManager /lib/systemd/*
    removefrom dbus /lib/systemd/*
    removefrom initscripts /lib/systemd/*
    removefrom systemd /bin/* /lib/systemd/* /usr/share/systemd/*
    removefrom util-linux /sbin/agetty
%else:
    removefrom ConsoleKit /lib/systemd/*
    removefrom avahi /lib/systemd/*
    removefrom chkconfig /sbin/chkconfig
    removefrom chkconfig /usr/sbin/alternatives
    removefrom chkconfig /usr/sbin/update-alternatives
    removefrom chkconfig /var/lib/alternatives
    removefrom firstboot /lib/systemd/*
    removefrom firstboot /usr/sbin/*
    removefrom firstboot /usr/share/firstboot/*
    removefrom firstboot /usr/share/locale/*
    removefrom initscripts /lib/systemd/system/fedora-readonly.service
    removefrom initscripts /lib/systemd/system/fedora-storage-init.service
    removefrom initscripts /lib/systemd/system/fedora-wait-storage.service
    removefrom systemd-units /lib/systemd/system/bluetooth.target
    removefrom systemd-units /lib/systemd/system/http-daemon.target
    removefrom systemd-units /lib/systemd/system/kexec*
    removefrom systemd-units /lib/systemd/system/local-fs.target.wants/media.mount
    removefrom systemd-units /lib/systemd/system/mail-transfer-agent.target
    removefrom systemd-units /lib/systemd/system/media.mount
    removefrom systemd-units /lib/systemd/system/printer*
    removefrom systemd-units /lib/systemd/system/*plymouth*
    removefrom systemd-units /lib/systemd/system/quota*
    removefrom systemd-units /lib/systemd/system/smartcard*
    removefrom systemd-units /lib/systemd/system/systemd-remount-api-vfs.service
%endif

## other package specific removals
removefrom ConsoleKit /etc/ConsoleKit*
removefrom ConsoleKit /etc/init/*
removefrom ConsoleKit /usr/bin/*
removefrom ConsoleKit /usr/lib/*
removefrom ConsoleKit /usr/sbin/*
removefrom GConf2 /etc/rpm/*
removefrom GConf2 /etc/xdg/*
removefrom GConf2 /usr/bin/*
removefrom GConf2 /usr/lib/GConf/2/libgconfbackend-evoldap*
removefrom GConf2 /usr/lib/GConf/2/libgconfbackend-oldxml*
removefrom GConf2 /usr/lib/gio/*
removefrom GConf2 /usr/libexec/gconf-defaults-mechanism
removefrom GConf2 /usr/share/GConf/*
removefrom GConf2 /usr/share/locale/*
removefrom GConf2 /usr/share/sgml/*
removefrom ModemManager /usr/${libdir}/*
removefrom ModemManager /usr/sbin/*
removefrom ModemManager /usr/share/icons/*
removefrom NetworkManager /etc/rc.d/*
removefrom NetworkManager /usr/bin/*
removefrom NetworkManager /usr/share/NetworkManager/*
removefrom NetworkManager /usr/share/locale/*/NetworkManager.mo
removefrom NetworkManager-gnome /etc/xdg/*
removefrom NetworkManager-gnome /usr/bin/nm-applet
removefrom NetworkManager-gnome /usr/${libdir}/*
removefrom NetworkManager-gnome /usr/share/applications/*
removefrom anaconda /etc/*
removefrom anaconda /usr/share/applications/*
removefrom anaconda /usr/share/icons/*
removefrom at-spi /etc/xdg/*
removefrom at-spi /usr/${libdir}/libcspi*
removefrom at-spi /usr/${libdir}/libloginhelper*
removefrom at-spi /usr/share/locale/*
removefrom atk /usr/share/locale/*
removefrom audit /etc/*
removefrom audit /sbin/audispd
removefrom audit /sbin/auditctl
removefrom audit /sbin/aureport
removefrom audit /sbin/ausearch
removefrom audit /sbin/autrace
removefrom audit /usr/bin/*
removefrom audit-libs /etc/*
removefrom audit-libs /${libdir}/libauparse*
removefrom authconfig /usr/sbin/*
removefrom authconfig /usr/share/*
removefrom avahi /usr/share/locale/*
removefrom bash /etc/*
removefrom bash /usr/bin/*
removefrom bash /usr/share/*
removefrom bind-libs-lite /usr/${libdir}/libirs*
removefrom bind-libs-lite /usr/${libdir}/libisccfg-export*
removefrom bind-utils /usr/bin/dig
removefrom bind-utils /usr/bin/host
removefrom bind-utils /usr/bin/nsupdate
removefrom bitmap-fangsongti-fonts /usr/share/fonts/*
removefrom btrfs-progs /sbin/btrfs
removefrom btrfs-progs /sbin/btrfs-*
removefrom btrfs-progs /sbin/btrfstune
removefrom ca-certificates /etc/pki/java/*
removefrom ca-certificates /etc/pki/tls/certs/ca-bundle.trust.crt
removefrom ca-certificates /etc/ssl/*
removefrom cairo /usr/${libdir}/libcairo-script*
removefrom chkconfig /sbin/chkconfig
removefrom chkconfig /usr/sbin/alternatives
removefrom chkconfig /usr/sbin/update-alternatives
removefrom chkconfig /var/lib/alternatives
removefrom cjkuni-uming-fonts /etc/X11/*
removefrom coreutils /etc/*
removefrom coreutils /bin/link
removefrom coreutils /bin/nice
removefrom coreutils /bin/stty
removefrom coreutils /bin/su
removefrom coreutils /bin/unlink
removefrom coreutils /sbin/*
removefrom coreutils /usr/bin/[
removefrom coreutils /usr/bin/base64
removefrom coreutils /usr/bin/chcon
removefrom coreutils /usr/bin/cksum
removefrom coreutils /usr/bin/comm
removefrom coreutils /usr/bin/csplit
removefrom coreutils /usr/bin/cut
removefrom coreutils /usr/bin/dir
removefrom coreutils /usr/bin/dircolors
removefrom coreutils /usr/bin/dirname
removefrom coreutils /usr/bin/env
removefrom coreutils /usr/bin/expand
removefrom coreutils /usr/bin/factor
removefrom coreutils /usr/bin/fmt
removefrom coreutils /usr/bin/fold
removefrom coreutils /usr/bin/groups
removefrom coreutils /usr/bin/hostid
removefrom coreutils /usr/bin/id
removefrom coreutils /usr/bin/install
removefrom coreutils /usr/bin/join
removefrom coreutils /usr/bin/logname
removefrom coreutils /usr/bin/mkfifo
removefrom coreutils /usr/bin/nl
removefrom coreutils /usr/bin/nohup
removefrom coreutils /usr/bin/nproc
removefrom coreutils /usr/bin/od
removefrom coreutils /usr/bin/paste
removefrom coreutils /usr/bin/pathchk
removefrom coreutils /usr/bin/pinky
removefrom coreutils /usr/bin/pr
removefrom coreutils /usr/bin/printenv
removefrom coreutils /usr/bin/printf
removefrom coreutils /usr/bin/ptx
removefrom coreutils /usr/bin/runcon
removefrom coreutils /usr/bin/seq
removefrom coreutils /usr/bin/sha224sum
removefrom coreutils /usr/bin/sha256sum
removefrom coreutils /usr/bin/sha384sum
removefrom coreutils /usr/bin/sha512sum
removefrom coreutils /usr/bin/shuf
removefrom coreutils /usr/bin/stat
removefrom coreutils /usr/bin/stdbuf
removefrom coreutils /usr/bin/sum
removefrom coreutils /usr/bin/test
removefrom coreutils /usr/bin/timeout
removefrom coreutils /usr/bin/truncate
removefrom coreutils /usr/bin/tsort
removefrom coreutils /usr/bin/unexpand
removefrom coreutils /usr/bin/users
removefrom coreutils /usr/bin/vdir
removefrom coreutils /usr/bin/who
removefrom coreutils /usr/bin/whoami
removefrom coreutils /usr/bin/yes
removefrom coreutils /usr/share/*
removefrom cpio /usr/share/*
removefrom cracklib /usr/sbin/*
removefrom cracklib-dicts /usr/${libdir}/*
removefrom cracklib-dicts /usr/sbin/*
removefrom createrepo /usr/bin/*
removefrom createrepo /usr/share/*
removefrom cryptsetup-luks /usr/share/*
removefrom cyrus-sasl-lib /usr/sbin/*
removefrom db4 /usr/*
removefrom dbus-glib /usr/bin/*
removefrom dbus-x11 /etc/X11/*
removefrom dejavu-sans-fonts /usr/share/fonts/dejavu/DejaVuSans-BoldOblique*
removefrom dejavu-sans-fonts /usr/share/fonts/dejavu/DejaVuSans-ExtraLight*
removefrom dejavu-sans-fonts /usr/share/fonts/dejavu/DejaVuSans-Oblique*
removefrom dejavu-sans-fonts /usr/share/fonts/dejavu/DejaVuSansCondensed*
removefrom dejavu-sans-mono-fonts /usr/share/fonts/dejavu/DejaVuSansMono-Bold*
removefrom dejavu-sans-mono-fonts /usr/share/fonts/dejavu/DejaVuSansMono-Oblique*
removefrom device-mapper-multipath /etc/*
removefrom device-mapper-multipath /sbin/mpathconf
removefrom device-mapper-multipath /sbin/multipathd
removefrom dhclient /usr/*
removefrom dmz-cursor-themes /usr/share/icons/dmz/*
removefrom dnsmasq /etc/rc.d/*
removefrom dnsmasq /usr/sbin/*
removefrom dogtail /usr/bin/*
removefrom dogtail /usr/share/applications/*
removefrom dogtail /usr/share/dogtail/*
removefrom dogtail /usr/share/icons/*
removefrom dosfstools /sbin/dosfsck
removefrom dosfstools /sbin/fsck.*
removefrom dump /etc/*
removefrom e2fsprogs /usr/sbin/*
removefrom e2fsprogs /usr/share/locale/*
removefrom elfutils-libelf /usr/share/locale/*
removefrom ethtool /usr/sbin/*
removefrom expat /usr/bin/*
removefrom fcoe-utils /etc/rc.d/*
removefrom fcoe-utils /usr/libexec/fcoe/dcbcheck.sh
removefrom fcoe-utils /usr/libexec/fcoe/fcc.sh
removefrom fcoe-utils /usr/libexec/fcoe/fcoe-setup.sh
removefrom fcoe-utils /usr/libexec/fcoe/fcoedump.sh
removefrom fcoe-utils /usr/sbin/fcnsq
removefrom fcoe-utils /usr/sbin/fcoeadm
removefrom fcoe-utils /usr/sbin/fcping
removefrom fcoe-utils /usr/sbin/fcrls
removefrom fedora-gnome-theme /etc/gtk-3.0/*
removefrom fedora-gnome-theme /usr/share/themes/*
removefrom file-libs /usr/share/*
removefrom findutils /usr/bin/oldfind
removefrom findutils /usr/share/*
removefrom firstboot /lib/systemd/*
removefrom firstboot /usr/sbin/*
removefrom firstboot /usr/share/firstboot/*
removefrom firstboot /usr/share/locale/*
removefrom fontconfig /usr/bin/*
removefrom gawk /usr/bin/*
removefrom gawk /usr/libexec/*
removefrom gawk /usr/share/*
removefrom gdk-pixbuf /usr/${libdir}/gdk-pixbuf/loaders/libpixbufloader-bmp*
removefrom gdk-pixbuf /usr/${libdir}/gdk-pixbuf/loaders/libpixbufloader-gif*
removefrom gdk-pixbuf /usr/${libdir}/gdk-pixbuf/loaders/libpixbufloader-ico*
removefrom gdk-pixbuf /usr/${libdir}/gdk-pixbuf/loaders/libpixbufloader-pnm*
removefrom gdk-pixbuf /usr/${libdir}/gdk-pixbuf/loaders/libpixbufloader-ras*
removefrom gdk-pixbuf /usr/${libdir}/gdk-pixbuf/loaders/libpixbufloader-xbm*
removefrom gdk-pixbuf /usr/${libdir}/gdk-pixbuf-*
removefrom gdk-pixbuf /usr/${libdir}/libgdk_pixbuf_xlib*
removefrom gdk-pixbuf /usr/share/locale/*
removefrom gdk-pixbuf2 /usr/${libdir}/gdk-pixbuf-2.0/2.10.0/loaders/*
removefrom gdk-pixbuf2 /usr/share/locale*
removefrom gfs2-utils /usr/sbin/*
removefrom glib2 /etc/*
removefrom glib2 /usr/bin/*
removefrom glib2 /usr/share/locale/*
removefrom glibc /etc/gai.conf
removefrom glibc /etc/ld.so.conf
removefrom glibc /etc/localtime
removefrom glibc /etc/rpc
removefrom glibc /lib/${arch.buildarch}/nosegneg/*
removefrom glibc /${libdir}/libBrokenLocale*
removefrom glibc /${libdir}/libSegFault*
removefrom glibc /${libdir}/libanl*
removefrom glibc /${libdir}/libcidn*
removefrom glibc /${libdir}/libnss_compat*
removefrom glibc /${libdir}/libnss_hesiod*
removefrom glibc /${libdir}/libnss_nis*
removefrom glibc /${libdir}/libthread*
removefrom glibc /${libdir}/rtkaio*
removefrom glibc /sbin/*
removefrom glibc /usr/libexec/*
removefrom glibc /usr/sbin/*
removefrom glibc-common /etc/*
removefrom glibc-common /usr/bin/catchsegv
removefrom glibc-common /usr/bin/gencat
removefrom glibc-common /usr/bin/getconf
removefrom glibc-common /usr/bin/getent
removefrom glibc-common /usr/bin/ldd
removefrom glibc-common /usr/bin/locale
removefrom glibc-common /usr/bin/rpcgen
removefrom glibc-common /usr/bin/sprof
removefrom glibc-common /usr/bin/tzselect
removefrom glibc-common /usr/libexec/*
removefrom glibc-common /usr/sbin/*

# remove generated locales anaconda knows how to restore them at runtime
removefrom glibc-common /usr/lib/locale/*
# locale-archive is not in the glibc-common filelist
remove /usr/lib/locale/locale-archive

removefrom gmp /usr/${libdir}/libgmpxx.*
removefrom gmp /usr/${libdir}/libmp.*
removefrom gnome-bluetooth-libs /usr/${libdir}/libgnome-bluetooth*
removefrom gnome-bluetooth-libs /usr/share/*
removefrom gnome-keyring /etc/xdg/*
removefrom gnome-keyring /usr/bin/*
removefrom gnome-keyring /usr/${libdir}/*
removefrom gnome-keyring /usr/libexec/*
removefrom gnome-keyring /usr/share/GConf/*
removefrom gnome-keyring /usr/share/gcr-3/*
removefrom gnome-keyring /usr/share/glib-2.0/*
removefrom gnome-keyring /usr/share/gnome-keyring*
removefrom gnome-keyring /usr/share/locale/*
removefrom gnome-python2-gconf /usr/share/pygtk/*
removefrom gnome-themes /usr/share/icons/Crux/*
removefrom gnome-themes /usr/share/icons/HighContrast*
removefrom gnome-themes /usr/share/icons/LargePrint/*
removefrom gnome-themes /usr/share/locale/*
removefrom gnome-themes /usr/share/themes/ClearlooksClassic/*
removefrom gnome-themes /usr/share/themes/Crux/*
removefrom gnome-themes /usr/share/themes/Glider/*
removefrom gnome-themes /usr/share/themes/Glossy/*
removefrom gnome-themes /usr/share/themes/HighContrast*
removefrom gnome-themes /usr/share/themes/Inverted/*
removefrom gnome-themes /usr/share/themes/LargePrint/*
removefrom gnome-themes /usr/share/themes/LowContrast*
removefrom gnome-themes /usr/share/themes/Mist/*
removefrom gnome-themes /usr/share/themes/Simple/*
removefrom gnutls /usr/share/locale/*
removefrom gpgme /usr/${libdir}/libgpgme-*
removefrom grep /etc/*
removefrom grep /usr/share/locale/*
removefrom groff /usr/bin/addftinfo
removefrom groff /usr/bin/eqn
removefrom groff /usr/bin/eqn2graph
removefrom groff /usr/bin/gdiffmk
removefrom groff /usr/bin/gindxbib
removefrom groff /usr/bin/glookbib
removefrom groff /usr/bin/gneqn
removefrom groff /usr/bin/gnroff
removefrom groff /usr/bin/grap2graph
removefrom groff /usr/bin/grn
removefrom groff /usr/bin/grodvi
removefrom groff /usr/bin/grolbp
removefrom groff /usr/bin/grolj4
removefrom groff /usr/bin/grops
removefrom groff /usr/bin/grotty
removefrom groff /usr/bin/gsoelim
removefrom groff /usr/bin/gtroff
removefrom groff /usr/bin/hpftodit
removefrom groff /usr/bin/indxbib
removefrom groff /usr/bin/lkbib
removefrom groff /usr/bin/lookbib
removefrom groff /usr/bin/neqn
removefrom groff /usr/bin/pdfroff
removefrom groff /usr/bin/pfbtops
removefrom groff /usr/bin/pic
removefrom groff /usr/bin/pic2graph
removefrom groff /usr/bin/post-grohtml
removefrom groff /usr/bin/pre-grohtml
removefrom groff /usr/bin/preconv
removefrom groff /usr/bin/refer
removefrom groff /usr/bin/soelim
removefrom groff /usr/bin/tbl
removefrom groff /usr/bin/tfmtodit
removefrom groff /usr/bin/troff
removefrom groff /usr/bin/zsoelim
removefrom groff /usr/share/*
removefrom grub /sbin/grub-*
removefrom grub /usr/bin/*
removefrom gstreamer /usr/bin/*
removefrom gstreamer /usr/${libdir}/gstreamer-0.10/*
removefrom gstreamer /usr/${libdir}/libgst*
removefrom gstreamer /usr/libexec/*
removefrom gstreamer /usr/share/locale/*
removefrom gtk+ /etc/*
removefrom gtk+ /usr/share/locale/*
removefrom gtk2 /usr/bin/update-gtk-immodules
removefrom gtk2 /usr/lib/gtk-2.0/2.10.0/engines/*
removefrom gtk2 /usr/lib/gtk-2.0/2.10.0/printbackends/*
removefrom gtk2 /usr/share/themes/*
removefrom gtk2-engines /usr/share/gtk-engines/*
removefrom gtk2-engines /usr/share/locale/*
removefrom gtk2-engines /usr/share/themes/Crux/*
removefrom gtk2-engines /usr/share/themes/Industrial/*
removefrom gtk2-engines /usr/share/themes/Mist/*
removefrom gtk2-engines /usr/share/themes/ThinIce/*
removefrom gtk2-engines /usr/${libdir}/*/libcrux-engine*
removefrom gtk2-engines /usr/${libdir}/*/libglide*
removefrom gtk2-engines /usr/${libdir}/*/libhcengine*
removefrom gtk2-engines /usr/${libdir}/*/libindustrial*
removefrom gtk2-engines /usr/${libdir}/*/libmist*
removefrom gtk2-engines /usr/${libdir}/*/libredmond*
removefrom gtk2-engines /usr/${libdir}/*/libthinice*
removefrom gtk3 /usr/share/*
removefrom gtk3 /usr/${libdir}/gtk-3.0/*
removefrom gtk3 /usr/${libdir}/libgailutil*
removefrom gtk3-engines /usr/${libdir}/*
removefrom gtk3-engines /usr/share/gtk-engines/*
removefrom gtk3-engines /usr/share/locale/*
removefrom gtk3-engines /usr/share/themes/Crux/*
removefrom gtk3-engines /usr/share/themes/GNOME3/*
removefrom gtk3-engines /usr/share/themes/Industrial/*
removefrom gtk3-engines /usr/share/themes/Mist/*
removefrom gtk3-engines /usr/share/themes/Redmond/*
removefrom gtk3-engines /usr/share/themes/ThinIce/*
removefrom gzip /usr/bin/*
removefrom hwdata /etc/*
removefrom hwdata /usr/share/hwdata/oui.txt
removefrom hwdata /usr/share/hwdata/pnp.ids
removefrom hwdata /usr/share/hwdata/upgradelist
removefrom initscripts /etc/ppp/*
removefrom initscripts /usr/sbin/*
removefrom initscripts /usr/share/locale/*
removefrom iproute /etc/*
removefrom iproute /sbin/cbq
removefrom iproute /sbin/ifcfg
removefrom iproute /sbin/rtmon
removefrom iproute /sbin/tc
removefrom iproute /usr/*
removefrom iputils /etc/*
removefrom iputils /bin/ping6
removefrom iputils /bin/tracepath*
removefrom iputils /sbin/ifenslave
removefrom iputils /sbin/rdisc
removefrom iputils /usr/sbin/*
removefrom iscsi-initiator-utils /etc/rc.d/*
removefrom jfsutils /sbin/jfs_fsck
removefrom jfsutils /sbin/jfs_fscklog
removefrom jfsutils /sbin/jfs_logdump
removefrom jfsutils /sbin/jfs_mkfs
removefrom kbd /bin/*
removefrom kbd /usr/share/locale/*
removefrom krb5-libs /etc/*
removefrom krb5-libs /${libdir}/libgssrpc*
removefrom krb5-libs /usr/${libdir}/*
removefrom less /etc/*
removefrom libX11-common /usr/share/X11/XErrorDB
removefrom libbonobo /etc/*
removefrom libbonobo /usr/bin/*
removefrom libbonobo /usr/sbin/*
removefrom libbonobo /usr/share/locale/*
removefrom libbonobo /usr/${libdir}/bonobo/monikers/*
removefrom libbonobo /usr/${libdir}/orbit-2.0/Bonobo_module.so
removefrom libbonoboui /usr/share/locale/*
removefrom libcanberra /usr/${libdir}/libcanberra-*
removefrom libcanberra-gtk2 /usr/${libdir}/gtk-2.0/*
removefrom libcanberra-gtk3 /usr/bin/*
removefrom libcanberra-gtk3 /usr/${libdir}/*
removefrom libcap /usr/sbin/*
removefrom libconfig /usr/${libdir}/libconfig++*
removefrom libgnome-keyring /usr/share/locale/*
removefrom libgnomecanvas /usr/share/locale/*
removefrom libgpg-error /usr/bin/*
removefrom libgpg-error /usr/share/locale/*
removefrom libgssglue /etc/*
removefrom libidn /usr/bin/*
removefrom libidn /usr/share/locale/*
removefrom libmlx4 /etc/rdma/*
removefrom libmlx4 /usr/${libdir}/*
removefrom libnotify /usr/bin/*
removefrom libpng /usr/${libdir}/libpng.*
removefrom libselinux /sbin/*
removefrom libsemanage /etc/selinux/*
removefrom libstdc++ /usr/share/*
removefrom libthai /usr/share/libthai/*
removefrom libuser /usr/bin/*
removefrom libuser /usr/sbin/*
removefrom libuser /usr/share/locale/*
removefrom libvorbis /usr/${libdir}/libvorbisenc.*
removefrom libxcb /usr/${libdir}/libxcb-*
removefrom libxml2 /usr/bin/*
removefrom libxml2-python /usr/${libdir}/python?.?/site-packages/libxml2mod.a
removefrom libxml2-python /usr/${libdir}/python?.?/site-packages/libxml2mod.la
removefrom lldpad /etc/*
removefrom lldpad /usr/sbin/lldptool
removefrom lua /usr/bin/*
removefrom lvm2 /etc/*
removefrom lvm2-cluster /etc/rc.d/init.d/*
removefrom lvm2-cluster /usr/sbin/*
removefrom lzo /usr/${libdir}/liblzo2.*
removefrom madan-fonts /usr/share/fonts/madan/*
removefrom man-db /etc/sysconfig/*
removefrom man-db /usr/bin/*
removefrom man-db /usr/libexec/*
removefrom man-db /usr/sbin/*
removefrom man-db /usr/share/locale/*
removefrom mdadm /etc/*
removefrom metacity /usr/share/applications/*
removefrom metacity /usr/share/gnome-control-center/*
removefrom metacity /usr/share/gnome/*
removefrom metacity /usr/share/locale/*
removefrom metacity /usr/share/metacity/*
removefrom metacity /usr/share/themes/AgingGorilla/*
removefrom metacity /usr/share/themes/Bright/*
removefrom metacity /usr/share/themes/Crux/*
removefrom metacity /usr/share/themes/Esco/*
removefrom metacity /usr/share/themes/Metabox/*
removefrom metacity /usr/share/themes/Simple/*
removefrom module-init-tools /etc/*
removefrom module-init-tools /sbin/insmod.static
removefrom module-init-tools /sbin/weak-modules
removefrom mt-st /etc/*
removefrom mt-st /sbin/*
removefrom mtools /etc/*
removefrom ncurses /usr/bin/captoinfo
removefrom ncurses /usr/bin/infocmp
removefrom ncurses /usr/bin/infotocap
removefrom ncurses /usr/bin/reset
removefrom ncurses /usr/bin/tabs
removefrom ncurses /usr/bin/tic
removefrom ncurses /usr/bin/toe
removefrom ncurses /usr/bin/tput
removefrom ncurses /usr/bin/tset
removefrom ncurses-libs /usr/${libdir}/libform*
removefrom ncurses-libs /usr/${libdir}/libmenu*
removefrom ncurses-libs /usr/${libdir}/libpanel.*
removefrom ncurses-libs /usr/${libdir}/libtic*
removefrom net-tools /bin/netstat
removefrom net-tools /etc/ethers
removefrom net-tools /sbin/ether-wake
removefrom net-tools /sbin/ipmaddr
removefrom net-tools /sbin/iptunnel
removefrom net-tools /sbin/mii-diag
removefrom net-tools /sbin/mii-tool
removefrom net-tools /sbin/nameif
removefrom net-tools /sbin/plipconfig
removefrom net-tools /sbin/slattach
removefrom net-tools /usr/share/locale/*
removefrom network-manager-netbook /etc/*
removefrom network-manager-netbook /usr/libexec/*
removefrom network-manager-netbook /usr/share/dbus-1/*
removefrom network-manager-netbook /usr/share/locale/*
removefrom network-manager-netbook /usr/share/network-manager-netbook/*
removefrom newt /usr/share/locale/*
removefrom nfs-utils /etc/nfsmount.conf
removefrom nfs-utils /etc/rc.d/init.d/nfs
removefrom nfs-utils /etc/rc.d/init.d/nfslock
removefrom nfs-utils /etc/rc.d/init.d/rpcgssd
removefrom nfs-utils /etc/rc.d/init.d/rpcidmapd
removefrom nfs-utils /etc/rc.d/init.d/rpcsvcgssd
removefrom nfs-utils /etc/sysconfig/nfs
removefrom nfs-utils /sbin/rpc.statd
removefrom nfs-utils /usr/sbin/exportfs
removefrom nfs-utils /usr/sbin/gss_clnt_send_err
removefrom nfs-utils /usr/sbin/gss_destroy_creds
removefrom nfs-utils /usr/sbin/mountstats
removefrom nfs-utils /usr/sbin/nfsiostat
removefrom nfs-utils /usr/sbin/nfsstat
removefrom nfs-utils /usr/sbin/rpc.gssd
removefrom nfs-utils /usr/sbin/rpc.idmapd
removefrom nfs-utils /usr/sbin/rpc.mountd
removefrom nfs-utils /usr/sbin/rpc.nfsd
removefrom nfs-utils /usr/sbin/rpc.svcgssd
removefrom nfs-utils /usr/sbin/rpcdebug
removefrom nfs-utils /usr/sbin/showmount
removefrom nfs-utils /usr/sbin/sm-notify
removefrom nfs-utils /usr/sbin/start-statd
removefrom nfs-utils /var/lib/nfs/etab
removefrom nfs-utils /var/lib/nfs/rmtab
removefrom nfs-utils /var/lib/nfs/state
removefrom nfs-utils /var/lib/nfs/xtab
removefrom notification-daemon /usr/${libdir}/*
removefrom notification-daemon /usr/libexec/*
removefrom notification-daemon /usr/share/locale/*
removefrom nss /etc/pki/*
removefrom nss-softokn /usr/${libdir}/nss/*
removefrom ntfs-3g /bin/lowntfs-3g
removefrom ntfs-3g /bin/ntfs-3g.*
removefrom ntfs-3g /bin/ntfsmount
removefrom ntfs-3g /sbin/mount.lowntfs-3g
removefrom ntfs-3g /usr/share/hal/*
removefrom ntfs-3g /usr/bin/*
removefrom ntfsprogs /sbin/*
removefrom openldap /etc/openldap/*
removefrom openldap /usr/${libdir}/libldap_r-*
removefrom openldap /usr/${libdir}/libldap_r-*
removefrom openldap /usr/${libdir}/libldif-*
removefrom openldap /usr/${libdir}/libldif-*
removefrom openssh /etc/ssh/*
removefrom openssh /usr/libexec/*
removefrom openssh-clients /etc/ssh/*
removefrom openssh-clients /usr/bin/slogin
removefrom openssh-clients /usr/bin/ssh-*
removefrom openssh-clients /usr/${libdir}/*
removefrom openssh-clients /usr/libexec/*
removefrom openssh-server /etc/ssh/*
removefrom openssh-server /usr/${libdir}/*
removefrom openssh-server /usr/libexec/*
removefrom openssl /etc/pki/*
removefrom openssl /usr/bin/*
removefrom openssl /usr/${libdir}/openssl/*
removefrom pam /sbin/*
removefrom pam /usr/share/locale/*
removefrom pciutils /usr/sbin/*
removefrom pcmciautils /sbin/*
removefrom pcre /usr/bin/*
removefrom pcre /usr/${libdir}/*
removefrom policycoreutils /etc/*
removefrom policycoreutils /usr/bin/*
removefrom policycoreutils /usr/share/locale/*
removefrom polkit /usr/bin/*
removefrom polkit-desktop-policy /var/lib/*
removefrom popt /usr/share/locale/*
removefrom procps /sbin/*
removefrom procps /usr/bin/free
removefrom procps /usr/bin/pgrep
removefrom procps /usr/bin/pkill
removefrom procps /usr/bin/pmap
removefrom procps /usr/bin/pwdx
removefrom procps /usr/bin/skill
removefrom procps /usr/bin/slabtop
removefrom procps /usr/bin/snice
removefrom procps /usr/bin/tload
removefrom procps /usr/bin/uptime
removefrom procps /usr/bin/vmstat
removefrom procps /usr/bin/w
removefrom procps /usr/bin/watch
removefrom psmisc /sbin/*
removefrom psmisc /usr/share/locale/*
removefrom pygtk2 /usr/bin/*
removefrom pygtk2 /usr/${libdir}/pygtk/*
removefrom pykickstart /usr/bin/*
removefrom pykickstart /usr/share/locale/*
removefrom python-bugzilla /usr/bin/*
removefrom python-ethtool /usr/sbin/*
removefrom python-meh /usr/share/locale/*
removefrom readline /usr/${libdir}/*
removefrom report /usr/bin/*
removefrom report /usr/include/*
removefrom report /usr/${libdir}/libstrata_*
removefrom report /usr/share/locale/*
removefrom rpm /usr/bin/*
removefrom rpm /usr/lib/rpm/platform/*
removefrom rpm /usr/share/locale/*
removefrom rsync /etc/*
removefrom samba-common /etc/*
removefrom samba-common /usr/bin/*
removefrom samba-common /usr/include/*
removefrom samba-common /usr/${libdir}/*
removefrom samba-common /usr/share/locale/*
removefrom samba-winbind-clients /${libdir}/libnss_*
removefrom samba-winbind-clients /usr/${libdir}/libnss_*
removefrom sed /usr/share/locale/*
removefrom selinux-policy-targeted /usr/share/selinux/*
removefrom smartmontools /etc/*
removefrom smartmontools /usr/sbin/smartd
removefrom smartmontools /usr/sbin/update-smart-drivedb
removefrom smartmontools /usr/share/smartmontools/*
removefrom sqlite /usr/bin/*
removefrom system-config-date /etc/*
removefrom system-config-date /usr/bin/*
removefrom system-config-date /usr/share/icons/*
removefrom system-config-keyboard /etc/*
removefrom system-config-keyboard /usr/bin/*
removefrom system-config-keyboard /usr/share/icons/*
removefrom systemd-units /lib/systemd/system/bluetooth.target
removefrom systemd-units /lib/systemd/system/http-daemon.target
removefrom systemd-units /lib/systemd/system/kexec*
removefrom systemd-units /lib/systemd/system/local-fs.target.wants/media.mount
removefrom systemd-units /lib/systemd/system/mail-transfer-agent.target
removefrom systemd-units /lib/systemd/system/media.mount
removefrom systemd-units /lib/systemd/system/printer*
removefrom systemd-units /lib/systemd/system/*plymouth*
removefrom systemd-units /lib/systemd/system/quota*
removefrom systemd-units /lib/systemd/system/smartcard*
removefrom systemd-units /lib/systemd/system/systemd-remount-api-vfs.service
removefrom sysvinit-tools /bin/*
removefrom sysvinit-tools /usr/bin/*
removefrom tar /usr/share/locale/*
removefrom un-core-dotum-fonts /usr/share/fonts/un-core/UnDotumBold.ttf
removefrom usbutils /usr/bin/*
removefrom util-linux /bin/findmnt
removefrom util-linux /bin/taskset
removefrom util-linux /etc/pam.d/chfn
removefrom util-linux /etc/pam.d/chsh
removefrom util-linux /sbin/addpart
removefrom util-linux /sbin/cfdisk
removefrom util-linux /sbin/ctrlaltdel
removefrom util-linux /sbin/delpart
removefrom util-linux /sbin/findfs
removefrom util-linux /sbin/fsck.cramfs
removefrom util-linux /sbin/fsfreeze
removefrom util-linux /sbin/mkfs
removefrom util-linux /sbin/mkfs.cramfs
removefrom util-linux /sbin/partx
removefrom util-linux /sbin/pivot_root
removefrom util-linux /sbin/swaplabel
removefrom util-linux /sbin/switch_root
removefrom util-linux /usr/bin/cal
removefrom util-linux /usr/bin/chfn
removefrom util-linux /usr/bin/chrt
removefrom util-linux /usr/bin/chsh
removefrom util-linux /usr/bin/col
removefrom util-linux /usr/bin/colcrt
removefrom util-linux /usr/bin/colrm
removefrom util-linux /usr/bin/column
removefrom util-linux /usr/bin/ddate
removefrom util-linux /usr/bin/fallocate
removefrom util-linux /usr/bin/flock
removefrom util-linux /usr/bin/floppy
removefrom util-linux /usr/bin/getopt
removefrom util-linux /usr/bin/hexdump
removefrom util-linux /usr/bin/i386
removefrom util-linux /usr/bin/ionice
removefrom util-linux /usr/bin/ipcmk
removefrom util-linux /usr/bin/ipcrm
removefrom util-linux /usr/bin/ipcs
removefrom util-linux /usr/bin/isosize
removefrom util-linux /usr/bin/kill
removefrom util-linux /usr/bin/linux32
removefrom util-linux /usr/bin/linux64
removefrom util-linux /usr/bin/look
removefrom util-linux /usr/bin/lscpu
removefrom util-linux /usr/bin/mcookie
removefrom util-linux /usr/bin/namei
removefrom util-linux /usr/bin/rename
removefrom util-linux /usr/bin/renice
removefrom util-linux /usr/bin/rev
removefrom util-linux /usr/bin/script
removefrom util-linux /usr/bin/scriptreplay
removefrom util-linux /usr/bin/setarch
removefrom util-linux /usr/bin/setsid
removefrom util-linux /usr/bin/setterm
removefrom util-linux /usr/bin/tailf
removefrom util-linux /usr/bin/ul
removefrom util-linux /usr/bin/unshare
removefrom util-linux /usr/bin/uuidgen
removefrom util-linux /usr/bin/whereis
removefrom util-linux /usr/bin/write
removefrom util-linux /usr/bin/x86_64
removefrom util-linux /usr/sbin/fdformat
removefrom util-linux /usr/sbin/hwclock
removefrom util-linux /usr/sbin/ldattach
removefrom util-linux /usr/sbin/readprofile
removefrom util-linux /usr/sbin/rtcwake
removefrom util-linux /usr/sbin/tunelp
removefrom util-linux /usr/share/locale/*
removefrom volume_key-libs /usr/share/locale/*
removefrom wget /etc/*
removefrom wget /usr/share/locale/*
removefrom xfsprogs /${libdir}/*
removefrom xfsprogs /usr/sbin/xfs_bmapd
removefrom xfsprogs /usr/sbin/xfs_estimate
removefrom xfsprogs /usr/sbin/xfs_freeze
removefrom xfsprogs /usr/sbin/xfs_fsr
removefrom xfsprogs /usr/sbin/xfs_growfs
removefrom xfsprogs /usr/sbin/xfs_info
removefrom xfsprogs /usr/sbin/xfs_io
removefrom xfsprogs /usr/sbin/xfs_logprint
removefrom xfsprogs /usr/sbin/xfs_mdrestore
removefrom xfsprogs /usr/sbin/xfs_metadump
removefrom xfsprogs /usr/sbin/xfs_mkfile
removefrom xfsprogs /usr/sbin/xfs_ncheck
removefrom xfsprogs /usr/sbin/xfs_quota
removefrom xfsprogs /usr/sbin/xfs_rtcp
removefrom xfsprogs /usr/share/locale/*
removefrom xkeyboard-config /usr/share/locale/*
removefrom xorg-x11-drv-intel /usr/${libdir}/libI*
removefrom xorg-x11-drv-openchrome /usr/${libdir}/libchrome*
removefrom xorg-x11-drv-synaptics /usr/bin/*
removefrom xorg-x11-drv-vmmouse /usr/bin/*
removefrom xorg-x11-drv-wacom /usr/bin/*
removefrom xorg-x11-fonts-ethiopic /etc/X11/*
removefrom xorg-x11-fonts-ethiopic /usr/share/X11/fonts/OTF/*
removefrom xorg-x11-fonts-misc /etc/X11/*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/encodings/*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/10x20*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/12x*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/18x18*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/4x6*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/5x7*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/5x8*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/6x10*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/6x12*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/6x9*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/7x*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/8x*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/9x*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/arabic*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/cl*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/cu-*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/cu12*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/cuarabic*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/cudevnag*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/dec*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/gb*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/hang*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/jiskan*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/k14*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/micro*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/nil2*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/olg*
removefrom xorg-x11-server-utils /usr/bin/iceauth
removefrom xorg-x11-server-utils /usr/bin/sessreg
removefrom xorg-x11-server-utils /usr/bin/showrgb
removefrom xorg-x11-server-utils /usr/bin/xgamma
removefrom xorg-x11-server-utils /usr/bin/xhost
removefrom xorg-x11-server-utils /usr/bin/xmodmap
removefrom xorg-x11-server-utils /usr/bin/xrdb
removefrom xorg-x11-server-utils /usr/bin/xrefresh
removefrom xorg-x11-server-utils /usr/bin/xset
removefrom xorg-x11-server-utils /usr/bin/xsetmode
removefrom xorg-x11-server-utils /usr/bin/xsetpointer
removefrom xorg-x11-server-utils /usr/bin/xsetroot
removefrom xorg-x11-server-utils /usr/bin/xstdcmap
removefrom yum etc/*
removefrom yum /usr/share/locale/*
removefrom yum /usr/share/yum-cli/*
removefrom zenity /usr/share/gnome/help/*
removefrom zenity /usr/share/omf/*
removefrom ${product.name}-logos /etc/*
removefrom ${product.name}-logos /usr/share/firstboot/*
removefrom ${product.name}-logos /usr/share/gnome-screensaver/*
removefrom ${product.name}-logos /usr/share/icons/Bluecurve/*
removefrom ${product.name}-logos /usr/share/icons/oxygen/*
removefrom ${product.name}-logos /usr/share/pixmaps/*
removefrom ${product.name}-logos /usr/share/plymouth/*

## cleanup_python_files()
runcmd find ${root} -name "*.pyo" -type f -delete
runcmd find ${root} -name "*.pyc" -type f -exec ln -sf /dev/null {} \;
