## lorax template file: populate the ramdisk (runtime image)
<%page args="basearch, product"/>

## anaconda package
installpkg anaconda

## kernel and firmware
installpkg kernel
%if basearch != "s390x":
    installpkg *-firmware
%endif

## i386 specific packages
%if basearch == "i386":
    installpkg kernel-PAE
    installpkg gpart
%endif

## x86 specific packages
%if basearch in ("i386", "x86_64"):
    installpkg biosdevname
    installpkg efibootmgr
    installpkg firstaidkit-plugin-grub
    installpkg grub
    installpkg memtest86+
%endif

## ppc specific packages
%if basearch in ("ppc", "ppc64"):
    installpkg fbset
    installpkg hfsutils
    installpkg kernel-bootwrapper
    installpkg pcmciautils
    installpkg ppc64-utils
    installpkg yaboot
%endif

## s390 specific packages
%if basearch == "s390x":
    installpkg lsscsi
    installpkg modutils
    installpkg mount
    installpkg s390utils-base
    installpkg s390utils-cmsfs
%endif

## sparc specific packages
%if basearch == "sparc":
    installpkg silo
    installpkg tilo
%endif

## other required packages
installpkg NetworkManager-gnome
installpkg at-spi
installpkg at-spi-python
installpkg at-spi2-atk
installpkg audit
installpkg bind-libs
installpkg bind-utils
installpkg bitmap-fangsongti-fonts
installpkg btrfs-progs
installpkg bzip2-libs
installpkg wqy-microhei-fonts
installpkg dbus-libs
installpkg dbus-x11
installpkg dejavu-sans-fonts
installpkg dejavu-sans-mono-fonts
installpkg dogtail
installpkg dump
installpkg ethtool
installpkg fedora-gnome-theme
installpkg fedora-icon-theme
installpkg firstaidkit-engine
installpkg firstboot
installpkg ftp
installpkg gdb-gdbserver
installpkg gdk-pixbuf
installpkg gfs2-utils
installpkg glib
installpkg gnome-bluetooth-libs
installpkg gnome-icon-theme-legacy
installpkg gnome-keyring
installpkg gnome-python2-bonobo
installpkg gnome-python2-gconf
installpkg gnome-themes-standard
installpkg gobject-introspection
installpkg groff
installpkg gtk+
installpkg hdparm
installpkg jfsutils
installpkg kacst-farsi-fonts
installpkg kacst-qurn-fonts
installpkg lcms-libs
installpkg libbonobo
installpkg libgcc
installpkg libgnome-keyring
installpkg libgssglue
installpkg libmlx4
installpkg libsemanage-python
installpkg libsysfs
installpkg libtirpc
installpkg lklug-fonts
installpkg lohit-assamese-fonts
installpkg lohit-bengali-fonts
installpkg lohit-devanagari-fonts
installpkg lohit-gujarati-fonts
installpkg lohit-kannada-fonts
installpkg lohit-oriya-fonts
installpkg lohit-punjabi-fonts
installpkg lohit-tamil-fonts
installpkg lohit-telugu-fonts
installpkg lsof
installpkg lvm2-cluster
installpkg madan-fonts
installpkg man-db
installpkg metacity
installpkg mt-st
installpkg mtr
installpkg nfs-utils
installpkg notification-daemon
installpkg ntfs-3g
installpkg openssh-server
installpkg pciutils
installpkg pciutils-libs
installpkg pcmciautils
installpkg polkit-desktop-policy
installpkg pyatspi
installpkg pyorbit
installpkg python-epdb
installpkg python-ethtool
installpkg python-imaging
installpkg python-volume_key
installpkg rdate
installpkg reiserfs-utils
installpkg rsh
installpkg rsync
installpkg rsyslog
installpkg samba-common
installpkg samba-winbind-clients
installpkg selinux-policy-targeted
installpkg smartmontools
installpkg smc-meera-fonts
installpkg specspo
installpkg strace
installpkg systemd-sysv
installpkg tigervnc-server-minimal
installpkg tigervnc-server-module
installpkg udev
installpkg un-core-dotum-fonts
installpkg usbutils
installpkg vconfig
installpkg vim-minimal
installpkg vlgothic-fonts
installpkg volume_key
installpkg volume_key-libs
installpkg wget
installpkg xfsprogs
installpkg xorg-x11-drivers
installpkg xorg-x11-fonts-ethiopic
installpkg xorg-x11-fonts-misc
installpkg xorg-x11-server-Xorg
installpkg xorg-x11-server-utils
installpkg xz
installpkg yum-langpacks
installpkg ${product.name}-logos
installpkg ${product.name}-release

## actually install all the requested packages
run_pkg_transaction
