## lorax template file: cleanup for the ramdisk (runtime image)
<%page args="removelocales, libdir, arch, product, root"/>

## remove_locales()
%for locale in removelocales:
    remove usr/share/locale/${locale}
%endfor

## not required packages installed as dependencies
removepkg ConsoleKit-x11 alsa-lib augeas-libs authconfig-gtk avahi-autoipd
removepkg avahi-libs basesystem checkpolicy clusterlib clutter clutter-gesture
removepkg clutter-imcontext cman control-center-filesystem coreutils-libs
removepkg corosync corosynclib cronie cronie-anacron crontabs cups-libs curl
removepkg cyrus-sasl cyrus-sasl-md5 dash db4-utils dejavu-fonts-common
removepkg deltarpm desktop-file-utils device-mapper-event diffutils
removepkg dmraid-events dracut fedora-release fedora-release-rawhide
removepkg fence-agents fence-virt file fipscheck flac fontpackages-filesystem
removepkg genisoimage gnome-python2 gnome-vfs2 gnupg2 grubby gstreamer-tools
removepkg hal-libs info ipmitool iptables iptables-ipv6 isomd5sum jasper-libs
removepkg json-glib kbd-misc libIDL libXScrnSaver libXmu libXres libXt libXv
removepkg libXvMC libXxf86misc libXxf86vm libasyncns libccss libcgroup
removepkg libcroco libdaemon libevent libgnome libhbaapi libhbalinux
removepkg libibverbs libmcpp libmx libnih libpcap librdmacm librsvg2
removepkg libselinux-utils libsndfile libsoup libtiff libutempter
removepkg libvirt-client libwnck libxslt linux-atm-libs llvm lm_sensors-libs
removepkg logrotate lvm2-libs m4 mailx makebootfat mcpp mesa-dri-drivers
removepkg mesa-libGL mingetty mobile-broadband-provider-info modcluster
removepkg mutter-mbl mutter-moblin nbtk nc net-snmp-libs net-snmp-perl
removepkg net-snmp-utils netcf-libs nfs-utils-lib nss-sysinit nss-tools ntp
removepkg numactl oddjob openais openaislib passwd perl perl-Module-Pluggable
removepkg perl-Net-Telnet perl-Pod-Escapes perl-Pod-Simple perl-libs
removepkg perl-threads perl-threads-shared pexpect pinentry pkgconfig plymouth
removepkg plymouth-core-libs plymouth-scripts ppp pth pulseaudio-libs
removepkg redhat-menus ricci rmt rpcbind samba-common selinux-policy setuptool
removepkg sg3_utils sg3_utils-libs sgml-common sgpio shadow-utils
removepkg shared-mime-info smc-fonts-common sound-theme-freedesktop
removepkg squashfs-tools system-config-firewall-base system-config-users
removepkg telnet tigervnc-license ttmkfdir un-core-fonts-common usermode
removepkg usermode-gtk vlgothic-fonts-common xdg-utils xen-libs xen-licenses
removepkg xml-common xorg-x11-font-utils xorg-x11-server-common xorg-x11-xauth
removepkg xorg-x11-xinit yajl yum-utils

## other removals
remove /boot /home /media /mnt /opt /srv
remove /usr/etc /usr/games /usr/local /usr/tmp
remove /usr/share/doc /usr/share/info /usr/share/man /usr/share/gnome
remove /usr/share/mime/application /usr/share/mime/audio /usr/share/mime/image
remove /usr/share/mime/inode /usr/share/mime/message /usr/share/mime/model
remove /usr/share/mime/multipart /usr/share/mime/packages /usr/share/mime/text
remove /usr/share/mime/video /usr/share/mime/x-content /usr/share/mime/x-epoc
remove /var/db /var/games /var/tmp /var/yp /var/nis /var/opt /var/local
remove /var/mail /var/spool /var/preserve /var/report
remove /var/lib/rpm/* /var/lib/yum

## icons cache
remove /usr/share/icons/*/icon-theme.cache

## remove generated locales - anaconda knows how to restore them at runtime
removefrom glibc-common /usr/lib/locale/*
## locale-archive is not in the glibc-common filelist
remove /usr/lib/locale/locale-archive

## clean up kernel modules
<%
removekmods = """
sound drivers/media drivers/hwmon drivers/video drivers/char
net/atm net/bluetooth net/sched net/sctp net/bridge
net/rds net/l2tp net/decnet net/netfilter net/ipv4 net/ipv6
drivers/watchdog drivers/target drivers/rtc drivers/input/joystick
drivers/bluetooth drivers/hid drivers/edac drivers/staging
drivers/usb/serial drivers/usb/host drivers/usb/misc
fs/ocfs2 fs/nls fs/ceph fs/nfsd fs/ubifs fs/nilfs2
arch/x86/kvm
""".split()
%>
%for kmodpath in removekmods:
    remove /modules/*/kernel/${kmodpath}
%endfor
## FIXME: run depmod, generate module-info

## Clean up systemd
removefrom ConsoleKit /lib/systemd/*
removefrom avahi /lib/systemd/*
removefrom chkconfig /sbin/chkconfig /usr/sbin/alternatives
removefrom chkconfig /usr/sbin/update-alternatives /var/lib/alternatives
removefrom initscripts /lib/systemd/system/fedora-readonly.service
removefrom initscripts /lib/systemd/system/fedora-storage-init.service
removefrom initscripts /lib/systemd/system/fedora-wait-storage.service
removefrom systemd-units /lib/systemd/system/bluetooth.target
removefrom systemd-units /lib/systemd/system/http-daemon.target
removefrom systemd-units /lib/systemd/system/kexec*
removefrom systemd-units /lib/systemd/system/local-fs.target.wants/media.mount
removefrom systemd-units /lib/systemd/system/mail-transfer-agent.target
removefrom systemd-units /lib/systemd/system/media.mount
removefrom systemd-units /lib/systemd/system/printer*
removefrom systemd-units /lib/systemd/system/*plymouth*
removefrom systemd-units /lib/systemd/system/quota*
removefrom systemd-units /lib/systemd/system/smartcard*
removefrom systemd-units /lib/systemd/system/systemd-remount-api-vfs.service

## other package specific removals
removefrom ConsoleKit /etc/ConsoleKit* /etc/init/* /usr/bin/* /usr/lib/*
removefrom ConsoleKit /usr/sbin/*
removefrom GConf2 /etc/rpm/* /etc/xdg/* /usr/bin/*
removefrom GConf2 /usr/lib/GConf/2/libgconfbackend-evoldap*
removefrom GConf2 /usr/lib/GConf/2/libgconfbackend-oldxml* /usr/lib/gio/*
removefrom GConf2 /usr/libexec/gconf-defaults-mechanism /usr/share/GConf/*
removefrom GConf2 /usr/share/locale/* /usr/share/sgml/*
removefrom ModemManager /usr/${libdir}/* /usr/sbin/* /usr/share/icons/*
removefrom NetworkManager /etc/rc.d/* /usr/bin/* /usr/share/NetworkManager/*
removefrom NetworkManager /usr/share/locale/*/NetworkManager.mo
removefrom NetworkManager-gnome /etc/xdg/* /usr/bin/nm-applet /usr/${libdir}/*
removefrom NetworkManager-gnome /usr/share/applications/*
removefrom anaconda /etc/* /usr/share/applications/* /usr/share/icons/*
removefrom at-spi /etc/xdg/* /usr/${libdir}/libcspi*
removefrom at-spi /usr/${libdir}/libloginhelper* /usr/share/locale/*
removefrom atk /usr/share/locale/*
removefrom audit /etc/* /sbin/audispd /sbin/auditctl /sbin/aureport
removefrom audit /sbin/ausearch /sbin/autrace /usr/bin/*
removefrom audit-libs /etc/* /${libdir}/libauparse*
removefrom authconfig /usr/sbin/* /usr/share/*
removefrom avahi /usr/share/locale/*
removefrom bash /etc/* /usr/bin/* /usr/share/*
removefrom bind-libs-lite /usr/${libdir}/libirs*
removefrom bind-libs-lite /usr/${libdir}/libisccfg-export*
removefrom bind-utils /usr/bin/dig /usr/bin/host /usr/bin/nsupdate
removefrom bitmap-fangsongti-fonts /usr/share/fonts/*
removefrom btrfs-progs /sbin/btrfs /sbin/btrfs-* /sbin/btrfstune
removefrom ca-certificates /etc/pki/java/*
removefrom ca-certificates /etc/pki/tls/certs/ca-bundle.trust.crt /etc/ssl/*
removefrom cairo /usr/${libdir}/libcairo-script*
removefrom chkconfig /sbin/chkconfig /usr/sbin/alternatives
removefrom chkconfig /usr/sbin/update-alternatives /var/lib/alternatives
removefrom cjkuni-uming-fonts /etc/X11/*
removefrom coreutils /etc/* /bin/link /bin/nice /bin/stty /bin/su /bin/unlink
removefrom coreutils /sbin/* /usr/bin/[ /usr/bin/base64 /usr/bin/chcon
removefrom coreutils /usr/bin/cksum /usr/bin/comm /usr/bin/csplit /usr/bin/cut
removefrom coreutils /usr/bin/dir /usr/bin/dircolors /usr/bin/dirname
removefrom coreutils /usr/bin/env /usr/bin/expand /usr/bin/factor /usr/bin/fmt
removefrom coreutils /usr/bin/fold /usr/bin/groups /usr/bin/hostid /usr/bin/id
removefrom coreutils /usr/bin/install /usr/bin/join /usr/bin/logname
removefrom coreutils /usr/bin/mkfifo /usr/bin/nl /usr/bin/nohup /usr/bin/nproc
removefrom coreutils /usr/bin/od /usr/bin/paste /usr/bin/pathchk
removefrom coreutils /usr/bin/pinky /usr/bin/pr /usr/bin/printenv
removefrom coreutils /usr/bin/printf /usr/bin/ptx /usr/bin/runcon /usr/bin/seq
removefrom coreutils /usr/bin/sha224sum /usr/bin/sha256sum /usr/bin/sha384sum
removefrom coreutils /usr/bin/sha512sum /usr/bin/shuf /usr/bin/stat
removefrom coreutils /usr/bin/stdbuf /usr/bin/sum /usr/bin/test
removefrom coreutils /usr/bin/timeout /usr/bin/truncate /usr/bin/tsort
removefrom coreutils /usr/bin/unexpand /usr/bin/users /usr/bin/vdir
removefrom coreutils /usr/bin/who /usr/bin/whoami /usr/bin/yes /usr/share/*
removefrom cpio /usr/share/*
removefrom cracklib /usr/sbin/*
removefrom cracklib-dicts /usr/${libdir}/* /usr/sbin/*
removefrom createrepo /usr/bin/* /usr/share/*
removefrom cryptsetup-luks /usr/share/*
removefrom cyrus-sasl-lib /usr/sbin/*
removefrom db4 /usr/*
removefrom dbus-glib /usr/bin/*
removefrom dbus-x11 /etc/X11/*
removefrom dejavu-sans-fonts /usr/share/fonts/dejavu/DejaVuSans-BoldOblique*
removefrom dejavu-sans-fonts /usr/share/fonts/dejavu/DejaVuSans-ExtraLight*
removefrom dejavu-sans-fonts /usr/share/fonts/dejavu/DejaVuSans-Oblique*
removefrom dejavu-sans-fonts /usr/share/fonts/dejavu/DejaVuSansCondensed*
removefrom dejavu-sans-mono-fonts /usr/share/fonts/dejavu/DejaVuSansMono-Bold*
removefrom dejavu-sans-mono-fonts /usr/share/fonts/dejavu/DejaVuSansMono-Oblique*
removefrom device-mapper-multipath /etc/* /sbin/mpathconf /sbin/multipathd
removefrom dhclient /usr/*
removefrom dmz-cursor-themes /usr/share/icons/dmz/*
removefrom dnsmasq /etc/rc.d/* /usr/sbin/*
removefrom dogtail /usr/bin/* /usr/share/applications/* /usr/share/dogtail/*
removefrom dogtail /usr/share/icons/*
removefrom dosfstools /sbin/dosfsck /sbin/fsck.*
removefrom dump /etc/*
removefrom e2fsprogs /usr/sbin/* /usr/share/locale/*
removefrom elfutils-libelf /usr/share/locale/*
removefrom ethtool /usr/sbin/*
removefrom expat /usr/bin/*
removefrom fcoe-utils /etc/rc.d/* /usr/libexec/fcoe/dcbcheck.sh
removefrom fcoe-utils /usr/libexec/fcoe/fcc.sh /usr/libexec/fcoe/fcoe-setup.sh
removefrom fcoe-utils /usr/libexec/fcoe/fcoedump.sh /usr/sbin/fcnsq
removefrom fcoe-utils /usr/sbin/fcoeadm /usr/sbin/fcping /usr/sbin/fcrls
removefrom fedora-gnome-theme /etc/gtk-3.0/* /usr/share/themes/*
removefrom file-libs /usr/share/*
removefrom findutils /usr/bin/oldfind /usr/share/*
removefrom firstboot /lib/systemd/* /usr/sbin/* /usr/share/firstboot/*
removefrom firstboot /usr/share/locale/*
removefrom fontconfig /usr/bin/*
removefrom gawk /usr/bin/* /usr/libexec/* /usr/share/*
removefrom gdk-pixbuf /usr/${libdir}/gdk-pixbuf/loaders/libpixbufloader-bmp*
removefrom gdk-pixbuf /usr/${libdir}/gdk-pixbuf/loaders/libpixbufloader-gif*
removefrom gdk-pixbuf /usr/${libdir}/gdk-pixbuf/loaders/libpixbufloader-ico*
removefrom gdk-pixbuf /usr/${libdir}/gdk-pixbuf/loaders/libpixbufloader-pnm*
removefrom gdk-pixbuf /usr/${libdir}/gdk-pixbuf/loaders/libpixbufloader-ras*
removefrom gdk-pixbuf /usr/${libdir}/gdk-pixbuf/loaders/libpixbufloader-xbm*
removefrom gdk-pixbuf /usr/${libdir}/gdk-pixbuf-*
removefrom gdk-pixbuf /usr/${libdir}/libgdk_pixbuf_xlib* /usr/share/locale/*
removefrom gdk-pixbuf2 /usr/${libdir}/gdk-pixbuf-2.0/2.10.0/loaders/*
removefrom gdk-pixbuf2 /usr/share/locale*
removefrom gfs2-utils /usr/sbin/*
removefrom glib2 /etc/* /usr/bin/* /usr/share/locale/*
removefrom glibc /etc/gai.conf /etc/ld.so.conf /etc/localtime /etc/rpc
removefrom glibc /lib/${arch.buildarch}/nosegneg/* /${libdir}/libBrokenLocale*
removefrom glibc /${libdir}/libSegFault* /${libdir}/libanl*
removefrom glibc /${libdir}/libcidn* /${libdir}/libnss_compat*
removefrom glibc /${libdir}/libnss_hesiod* /${libdir}/libnss_nis*
removefrom glibc /${libdir}/libthread* /${libdir}/rtkaio* /sbin/*
removefrom glibc /usr/libexec/* /usr/sbin/*
removefrom glibc-common /etc/* /usr/bin/catchsegv /usr/bin/gencat
removefrom glibc-common /usr/bin/getconf /usr/bin/getent /usr/bin/ldd
removefrom glibc-common /usr/bin/locale /usr/bin/rpcgen /usr/bin/sprof
removefrom glibc-common /usr/bin/tzselect /usr/libexec/* /usr/sbin/*
removefrom gmp /usr/${libdir}/libgmpxx.* /usr/${libdir}/libmp.*
removefrom gnome-bluetooth-libs /usr/${libdir}/libgnome-bluetooth*
removefrom gnome-bluetooth-libs /usr/share/*
removefrom gnome-keyring /etc/xdg/* /usr/bin/* /usr/${libdir}/* /usr/libexec/*
removefrom gnome-keyring /usr/share/GConf/* /usr/share/gcr-3/*
removefrom gnome-keyring /usr/share/glib-2.0/* /usr/share/gnome-keyring*
removefrom gnome-keyring /usr/share/locale/*
removefrom gnome-python2-gconf /usr/share/pygtk/*
removefrom gnome-themes /usr/share/icons/Crux/* /usr/share/icons/HighContrast*
removefrom gnome-themes /usr/share/icons/LargePrint/* /usr/share/locale/*
removefrom gnome-themes /usr/share/themes/ClearlooksClassic/*
removefrom gnome-themes /usr/share/themes/Crux/* /usr/share/themes/Glider/*
removefrom gnome-themes /usr/share/themes/Glossy/*
removefrom gnome-themes /usr/share/themes/HighContrast*
removefrom gnome-themes /usr/share/themes/Inverted/*
removefrom gnome-themes /usr/share/themes/LargePrint/*
removefrom gnome-themes /usr/share/themes/LowContrast*
removefrom gnome-themes /usr/share/themes/Mist/* /usr/share/themes/Simple/*
removefrom gnutls /usr/share/locale/*
removefrom gpgme /usr/${libdir}/libgpgme-*
removefrom grep /etc/* /usr/share/locale/*
removefrom groff /usr/bin/addftinfo /usr/bin/eqn /usr/bin/eqn2graph
removefrom groff /usr/bin/gdiffmk /usr/bin/gindxbib /usr/bin/glookbib
removefrom groff /usr/bin/gneqn /usr/bin/gnroff /usr/bin/grap2graph
removefrom groff /usr/bin/grn /usr/bin/grodvi /usr/bin/grolbp /usr/bin/grolj4
removefrom groff /usr/bin/grops /usr/bin/grotty /usr/bin/gsoelim
removefrom groff /usr/bin/gtroff /usr/bin/hpftodit /usr/bin/indxbib
removefrom groff /usr/bin/lkbib /usr/bin/lookbib /usr/bin/neqn
removefrom groff /usr/bin/pdfroff /usr/bin/pfbtops /usr/bin/pic
removefrom groff /usr/bin/pic2graph /usr/bin/post-grohtml /usr/bin/pre-grohtml
removefrom groff /usr/bin/preconv /usr/bin/refer /usr/bin/soelim /usr/bin/tbl
removefrom groff /usr/bin/tfmtodit /usr/bin/troff /usr/bin/zsoelim
removefrom groff /usr/share/*
removefrom grub /sbin/grub-* /usr/bin/*
removefrom gstreamer /usr/bin/* /usr/${libdir}/gstreamer-0.10/*
removefrom gstreamer /usr/${libdir}/libgst* /usr/libexec/* /usr/share/locale/*
removefrom gtk+ /etc/* /usr/share/locale/*
removefrom gtk2 /usr/bin/update-gtk-immodules
removefrom gtk2 /usr/lib/gtk-2.0/2.10.0/engines/*
removefrom gtk2 /usr/lib/gtk-2.0/2.10.0/printbackends/* /usr/share/themes/*
removefrom gtk2-engines /usr/share/gtk-engines/* /usr/share/locale/*
removefrom gtk2-engines /usr/share/themes/Crux/*
removefrom gtk2-engines /usr/share/themes/Industrial/*
removefrom gtk2-engines /usr/share/themes/Mist/* /usr/share/themes/ThinIce/*
removefrom gtk2-engines /usr/${libdir}/*/libcrux-engine*
removefrom gtk2-engines /usr/${libdir}/*/libglide*
removefrom gtk2-engines /usr/${libdir}/*/libhcengine*
removefrom gtk2-engines /usr/${libdir}/*/libindustrial*
removefrom gtk2-engines /usr/${libdir}/*/libmist* /usr/${libdir}/*/libredmond*
removefrom gtk2-engines /usr/${libdir}/*/libthinice*
removefrom gtk3 /usr/share/* /usr/${libdir}/gtk-3.0/*
removefrom gtk3 /usr/${libdir}/libgailutil*
removefrom gtk3-engines /usr/${libdir}/* /usr/share/gtk-engines/*
removefrom gtk3-engines /usr/share/locale/* /usr/share/themes/Crux/*
removefrom gtk3-engines /usr/share/themes/GNOME3/*
removefrom gtk3-engines /usr/share/themes/Industrial/*
removefrom gtk3-engines /usr/share/themes/Mist/* /usr/share/themes/Redmond/*
removefrom gtk3-engines /usr/share/themes/ThinIce/*
removefrom gzip /usr/bin/*
removefrom hwdata /etc/* /usr/share/hwdata/oui.txt /usr/share/hwdata/pnp.ids
removefrom hwdata /usr/share/hwdata/upgradelist
removefrom initscripts /etc/ppp/* /usr/sbin/* /usr/share/locale/*
removefrom iproute /etc/* /sbin/cbq /sbin/ifcfg /sbin/rtmon /sbin/tc /usr/*
removefrom iputils /etc/* /bin/ping6 /bin/tracepath* /sbin/ifenslave
removefrom iputils /sbin/rdisc /usr/sbin/*
removefrom iscsi-initiator-utils /etc/rc.d/*
removefrom jfsutils /sbin/jfs_fsck /sbin/jfs_fscklog /sbin/jfs_logdump
removefrom jfsutils /sbin/jfs_mkfs
removefrom kbd /bin/* /usr/share/locale/*
removefrom krb5-libs /etc/* /${libdir}/libgssrpc* /usr/${libdir}/*
removefrom less /etc/*
removefrom libX11-common /usr/share/X11/XErrorDB
removefrom libbonobo /etc/* /usr/bin/* /usr/sbin/* /usr/share/locale/*
removefrom libbonobo /usr/${libdir}/bonobo/monikers/*
removefrom libbonobo /usr/${libdir}/orbit-2.0/Bonobo_module.so
removefrom libbonoboui /usr/share/locale/*
removefrom libcanberra /usr/${libdir}/libcanberra-*
removefrom libcanberra-gtk2 /usr/${libdir}/gtk-2.0/*
removefrom libcanberra-gtk3 /usr/bin/* /usr/${libdir}/*
removefrom libcap /usr/sbin/*
removefrom libconfig /usr/${libdir}/libconfig++*
removefrom libgnome-keyring /usr/share/locale/*
removefrom libgnomecanvas /usr/share/locale/*
removefrom libgpg-error /usr/bin/* /usr/share/locale/*
removefrom libgssglue /etc/*
removefrom libidn /usr/bin/* /usr/share/locale/*
removefrom libmlx4 /etc/rdma/* /usr/${libdir}/*
removefrom libnotify /usr/bin/*
removefrom libpng /usr/${libdir}/libpng.*
removefrom libselinux /sbin/*
removefrom libsemanage /etc/selinux/*
removefrom libstdc++ /usr/share/*
removefrom libthai /usr/share/libthai/*
removefrom libuser /usr/bin/* /usr/sbin/* /usr/share/locale/*
removefrom libvorbis /usr/${libdir}/libvorbisenc.*
removefrom libxcb /usr/${libdir}/libxcb-*
removefrom libxml2 /usr/bin/*
removefrom libxml2-python /usr/${libdir}/python?.?/site-packages/libxml2mod.a
removefrom libxml2-python /usr/${libdir}/python?.?/site-packages/libxml2mod.la
removefrom lldpad /etc/* /usr/sbin/lldptool
removefrom lua /usr/bin/*
removefrom lvm2 /etc/*
removefrom lvm2-cluster /etc/rc.d/init.d/* /usr/sbin/*
removefrom lzo /usr/${libdir}/liblzo2.*
removefrom madan-fonts /usr/share/fonts/madan/*
removefrom man-db /etc/sysconfig/* /usr/bin/* /usr/libexec/* /usr/sbin/*
removefrom man-db /usr/share/locale/*
removefrom mdadm /etc/*
removefrom metacity /usr/share/applications/*
removefrom metacity /usr/share/gnome-control-center/* /usr/share/gnome/*
removefrom metacity /usr/share/locale/* /usr/share/metacity/*
removefrom metacity /usr/share/themes/AgingGorilla/*
removefrom metacity /usr/share/themes/Bright/* /usr/share/themes/Crux/*
removefrom metacity /usr/share/themes/Esco/* /usr/share/themes/Metabox/*
removefrom metacity /usr/share/themes/Simple/*
removefrom module-init-tools /etc/* /sbin/insmod.static /sbin/weak-modules
removefrom mt-st /etc/* /sbin/*
removefrom mtools /etc/*
removefrom ncurses /usr/bin/captoinfo /usr/bin/infocmp /usr/bin/infotocap
removefrom ncurses /usr/bin/reset /usr/bin/tabs /usr/bin/tic /usr/bin/toe
removefrom ncurses /usr/bin/tput /usr/bin/tset
removefrom ncurses-libs /usr/${libdir}/libform* /usr/${libdir}/libmenu*
removefrom ncurses-libs /usr/${libdir}/libpanel.* /usr/${libdir}/libtic*
removefrom net-tools /bin/netstat /etc/ethers /sbin/ether-wake /sbin/ipmaddr
removefrom net-tools /sbin/iptunnel /sbin/mii-diag /sbin/mii-tool /sbin/nameif
removefrom net-tools /sbin/plipconfig /sbin/slattach /usr/share/locale/*
removefrom network-manager-netbook /etc/* /usr/libexec/* /usr/share/dbus-1/*
removefrom network-manager-netbook /usr/share/locale/*
removefrom network-manager-netbook /usr/share/network-manager-netbook/*
removefrom newt /usr/share/locale/*
removefrom nfs-utils /etc/nfsmount.conf /etc/rc.d/init.d/nfs
removefrom nfs-utils /etc/rc.d/init.d/nfslock /etc/rc.d/init.d/rpcgssd
removefrom nfs-utils /etc/rc.d/init.d/rpcidmapd /etc/rc.d/init.d/rpcsvcgssd
removefrom nfs-utils /etc/sysconfig/nfs /sbin/rpc.statd /usr/sbin/exportfs
removefrom nfs-utils /usr/sbin/gss_clnt_send_err /usr/sbin/gss_destroy_creds
removefrom nfs-utils /usr/sbin/mountstats /usr/sbin/nfsiostat
removefrom nfs-utils /usr/sbin/nfsstat /usr/sbin/rpc.gssd /usr/sbin/rpc.idmapd
removefrom nfs-utils /usr/sbin/rpc.mountd /usr/sbin/rpc.nfsd
removefrom nfs-utils /usr/sbin/rpc.svcgssd /usr/sbin/rpcdebug
removefrom nfs-utils /usr/sbin/showmount /usr/sbin/sm-notify
removefrom nfs-utils /usr/sbin/start-statd /var/lib/nfs/etab
removefrom nfs-utils /var/lib/nfs/rmtab /var/lib/nfs/state /var/lib/nfs/xtab
removefrom notification-daemon /usr/${libdir}/* /usr/libexec/*
removefrom notification-daemon /usr/share/locale/*
removefrom nss /etc/pki/*
removefrom nss-softokn /usr/${libdir}/nss/*
removefrom ntfs-3g /bin/lowntfs-3g /bin/ntfs-3g.* /bin/ntfsmount
removefrom ntfs-3g /sbin/mount.lowntfs-3g /usr/share/hal/* /usr/bin/*
removefrom ntfsprogs /sbin/*
removefrom openldap /etc/openldap/* /usr/${libdir}/libldap_r-*
removefrom openldap /usr/${libdir}/libldif-*
removefrom openssh /etc/ssh/* /usr/libexec/*
removefrom openssh-clients /etc/ssh/* /usr/bin/slogin /usr/bin/ssh-*
removefrom openssh-clients /usr/${libdir}/* /usr/libexec/*
removefrom openssh-server /etc/ssh/* /usr/${libdir}/* /usr/libexec/*
removefrom openssl /etc/pki/* /usr/bin/* /usr/${libdir}/openssl/*
removefrom pam /sbin/* /usr/share/locale/*
removefrom pciutils /usr/sbin/*
removefrom pcmciautils /sbin/*
removefrom pcre /usr/bin/* /usr/${libdir}/*
removefrom policycoreutils /etc/* /usr/bin/* /usr/share/locale/*
removefrom polkit /usr/bin/*
removefrom polkit-desktop-policy /var/lib/*
removefrom popt /usr/share/locale/*
removefrom procps /sbin/* /usr/bin/free /usr/bin/pgrep /usr/bin/pkill
removefrom procps /usr/bin/pmap /usr/bin/pwdx /usr/bin/skill /usr/bin/slabtop
removefrom procps /usr/bin/snice /usr/bin/tload /usr/bin/uptime
removefrom procps /usr/bin/vmstat /usr/bin/w /usr/bin/watch
removefrom psmisc /sbin/* /usr/share/locale/*
removefrom pygtk2 /usr/bin/* /usr/${libdir}/pygtk/*
removefrom pykickstart /usr/bin/* /usr/share/locale/*
removefrom python-bugzilla /usr/bin/*
removefrom python-ethtool /usr/sbin/*
removefrom python-meh /usr/share/locale/*
removefrom readline /usr/${libdir}/*
removefrom report /usr/bin/* /usr/include/* /usr/${libdir}/libstrata_*
removefrom report /usr/share/locale/*
removefrom rpm /usr/bin/* /usr/lib/rpm/platform/* /usr/share/locale/*
removefrom rsync /etc/*
removefrom samba-winbind-clients /${libdir}/libnss_* /usr/${libdir}/libnss_*
removefrom sed /usr/share/locale/*
removefrom selinux-policy-targeted /usr/share/selinux/*
removefrom smartmontools /etc/* /usr/sbin/smartd
removefrom smartmontools /usr/sbin/update-smart-drivedb
removefrom smartmontools /usr/share/smartmontools/*
removefrom sqlite /usr/bin/*
removefrom system-config-date /etc/* /usr/bin/* /usr/share/icons/*
removefrom system-config-keyboard /etc/* /usr/bin/* /usr/share/icons/*
removefrom systemd-units /lib/systemd/system/bluetooth.target
removefrom systemd-units /lib/systemd/system/http-daemon.target
removefrom systemd-units /lib/systemd/system/kexec*
removefrom systemd-units /lib/systemd/system/local-fs.target.wants/media.mount
removefrom systemd-units /lib/systemd/system/mail-transfer-agent.target
removefrom systemd-units /lib/systemd/system/media.mount
removefrom systemd-units /lib/systemd/system/printer*
removefrom systemd-units /lib/systemd/system/*plymouth*
removefrom systemd-units /lib/systemd/system/quota*
removefrom systemd-units /lib/systemd/system/smartcard*
removefrom systemd-units /lib/systemd/system/systemd-remount-api-vfs.service
removefrom sysvinit-tools /bin/* /usr/bin/*
removefrom tar /usr/share/locale/*
removefrom un-core-dotum-fonts /usr/share/fonts/un-core/UnDotumBold.ttf
removefrom usbutils /usr/bin/*
removefrom util-linux /bin/findmnt /bin/taskset /etc/pam.d/chfn
removefrom util-linux /etc/pam.d/chsh /sbin/addpart /sbin/cfdisk
removefrom util-linux /sbin/ctrlaltdel /sbin/delpart /sbin/findfs
removefrom util-linux /sbin/fsck.cramfs /sbin/fsfreeze /sbin/mkfs
removefrom util-linux /sbin/mkfs.cramfs /sbin/partx /sbin/pivot_root
removefrom util-linux /sbin/swaplabel /sbin/switch_root /usr/bin/cal
removefrom util-linux /usr/bin/chfn /usr/bin/chrt /usr/bin/chsh /usr/bin/col
removefrom util-linux /usr/bin/colcrt /usr/bin/colrm /usr/bin/column
removefrom util-linux /usr/bin/ddate /usr/bin/fallocate /usr/bin/flock
removefrom util-linux /usr/bin/floppy /usr/bin/getopt /usr/bin/hexdump
removefrom util-linux /usr/bin/i386 /usr/bin/ionice /usr/bin/ipcmk
removefrom util-linux /usr/bin/ipcrm /usr/bin/ipcs /usr/bin/isosize
removefrom util-linux /usr/bin/kill /usr/bin/linux32 /usr/bin/linux64
removefrom util-linux /usr/bin/look /usr/bin/lscpu /usr/bin/mcookie
removefrom util-linux /usr/bin/namei /usr/bin/rename /usr/bin/renice
removefrom util-linux /usr/bin/rev /usr/bin/script /usr/bin/scriptreplay
removefrom util-linux /usr/bin/setarch /usr/bin/setsid /usr/bin/setterm
removefrom util-linux /usr/bin/tailf /usr/bin/ul /usr/bin/unshare
removefrom util-linux /usr/bin/uuidgen /usr/bin/whereis /usr/bin/write
removefrom util-linux /usr/bin/x86_64 /usr/sbin/fdformat /usr/sbin/hwclock
removefrom util-linux /usr/sbin/ldattach /usr/sbin/readprofile
removefrom util-linux /usr/sbin/rtcwake /usr/sbin/tunelp /usr/share/locale/*
removefrom volume_key-libs /usr/share/locale/*
removefrom wget /etc/* /usr/share/locale/*
removefrom xfsprogs /${libdir}/* /usr/sbin/xfs_bmapd /usr/sbin/xfs_estimate
removefrom xfsprogs /usr/sbin/xfs_freeze /usr/sbin/xfs_fsr
removefrom xfsprogs /usr/sbin/xfs_growfs /usr/sbin/xfs_info /usr/sbin/xfs_io
removefrom xfsprogs /usr/sbin/xfs_logprint /usr/sbin/xfs_mdrestore
removefrom xfsprogs /usr/sbin/xfs_metadump /usr/sbin/xfs_mkfile
removefrom xfsprogs /usr/sbin/xfs_ncheck /usr/sbin/xfs_quota
removefrom xfsprogs /usr/sbin/xfs_rtcp /usr/share/locale/*
removefrom xkeyboard-config /usr/share/locale/*
removefrom xorg-x11-drv-intel /usr/${libdir}/libI*
removefrom xorg-x11-drv-openchrome /usr/${libdir}/libchrome*
removefrom xorg-x11-drv-synaptics /usr/bin/*
removefrom xorg-x11-drv-vmmouse /usr/bin/*
removefrom xorg-x11-drv-wacom /usr/bin/*
removefrom xorg-x11-fonts-ethiopic /etc/X11/* /usr/share/X11/fonts/OTF/*
removefrom xorg-x11-fonts-misc /etc/X11/* /usr/share/X11/fonts/encodings/*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/10x20*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/12x*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/18x18*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/4x6*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/5x7*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/5x8*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/6x10*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/6x12*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/6x9*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/7x*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/8x*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/9x*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/arabic*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/cl*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/cu-*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/cu12*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/cuarabic*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/cudevnag*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/dec*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/gb*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/hang*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/jiskan*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/k14*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/micro*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/nil2*
removefrom xorg-x11-fonts-misc /usr/share/X11/fonts/misc/olg*
removefrom xorg-x11-server-utils /usr/bin/iceauth /usr/bin/sessreg
removefrom xorg-x11-server-utils /usr/bin/showrgb /usr/bin/xgamma
removefrom xorg-x11-server-utils /usr/bin/xhost /usr/bin/xmodmap /usr/bin/xrdb
removefrom xorg-x11-server-utils /usr/bin/xrefresh /usr/bin/xset
removefrom xorg-x11-server-utils /usr/bin/xsetmode /usr/bin/xsetpointer
removefrom xorg-x11-server-utils /usr/bin/xsetroot /usr/bin/xstdcmap
removefrom yum etc/* /usr/share/locale/* /usr/share/yum-cli/*
removefrom zenity /usr/share/gnome/help/* /usr/share/omf/*
removefrom ${product.name}-logos /etc/* /usr/share/firstboot/*
removefrom ${product.name}-logos /usr/share/gnome-screensaver/*
removefrom ${product.name}-logos /usr/share/icons/Bluecurve/*
removefrom ${product.name}-logos /usr/share/icons/oxygen/*
removefrom ${product.name}-logos /usr/share/pixmaps/* /usr/share/plymouth/*

## cleanup_python_files()
runcmd find ${root} -name "*.pyo" -type f -delete
runcmd find ${root} -name "*.pyc" -type f -exec ln -sf /dev/null {} \;
