## lorax template file: populate the ramdisk (runtime image)
<%page args="basearch, product"/>

## anaconda package
installpkg anaconda
## anaconda deps that aren't in the RPM
installpkg firstboot

## firstaidkit (rescue mode) packages
installpkg firstaidkit-plugin-{passwd,key-recovery,mdadm-conf}

## kernel and firmware
installpkg kernel
%if basearch != "s390x":
    installpkg *-firmware
%endif

## arch-specific packages (bootloaders etc.)
%if basearch == "i386":
    installpkg kernel-PAE gpart
%endif
%if basearch in ("i386", "x86_64"):
    installpkg grub-efi efibootmgr biosdevname memtest86+
%endif
%if basearch in ("ppc", "ppc64"):
    installpkg yaboot fbset hfsutils kernel-bootwrapper ppc64-utils
%endif
%if basearch == "s390x":
    installpkg lsscsi modutils mount s390utils-base s390utils-cmsfs
%endif
%if basearch == "sparc":
    installpkg silo tilo
%endif

## extra dracut modules
installpkg dracut-network

## basic system stuff
installpkg systemd-sysv systemd-units
installpkg rsyslog

## xorg/GUI packages
installpkg xorg-x11-drivers xorg-x11-server-Xorg
installpkg xorg-x11-server-utils xorg-x11-xauth
installpkg dbus-x11 metacity
installpkg NetworkManager-gnome
installpkg at-spi at-spi2-atk pyatspi
installpkg gnome-python2-gconf
installpkg gobject-introspection
installpkg polkit-desktop-policy
installpkg gnome-keyring
installpkg python-imaging

## filesystem tools
installpkg btrfs-progs jfsutils xfsprogs reiserfs-utils gfs2-utils ntfsprogs
installpkg python-volume_key volume_key

## SELinux support
installpkg selinux-policy-targeted audit libsemanage-python

## network tools/servers
installpkg python-ethtool ethtool openssh-server nfs-utils
installpkg tigervnc-server-minimal tigervnc-server-module

## hardware utilities/libraries
installpkg pciutils pcmciautils usbutils
installpkg mt-st hdparm smartmontools
installpkg libmlx4

## translations & language packs
installpkg yum-langpacks specspo

## fonts & themes
installpkg bitmap-fangsongti-fonts
installpkg dejavu-sans-fonts dejavu-sans-mono-fonts
installpkg kacst-farsi-fonts
installpkg kacst-qurn-fonts
installpkg lklug-fonts
installpkg lohit-*-fonts
installpkg madan-fonts
installpkg smc-meera-fonts
installpkg un-core-dotum-fonts
installpkg vlgothic-fonts
installpkg wqy-microhei-fonts
installpkg xorg-x11-fonts-ethiopic xorg-x11-fonts-misc
installpkg gnome-themes-standard gnome-icon-theme-legacy

## branding & logos
installpkg fedora-gnome-theme fedora-icon-theme
installpkg ${product.name}-logos
installpkg ${product.name}-release

## debugging/bug reporting tools
installpkg gdb-gdbserver
installpkg python-epdb
installpkg libreport-plugin-bugzilla libreport-plugin-reportuploader
installpkg fpaste

## extra tools not required by anaconda
installpkg vim-minimal strace lsof dump xz less eject
installpkg wget rsync rsh bind-utils ftp mtr vconfig rdate

## actually install all the requested packages
run_pkg_transaction
