## lorax template file: cleanup for the ramdisk (runtime image)
<%page args="removelocales libdir arch product root"/>

## remove_locales()
%for locale in removelocales:
    remove usr/share/locale/${locale}
%endfor

## not required packages installed as dependencies
removepkg "ConsoleKit-x11"
removepkg "alsa-lib"
removepkg "augeas-libs"
removepkg "authconfig-gtk"
removepkg "avahi-autoipd"
removepkg "avahi-libs"
removepkg "basesystem"
removepkg "checkpolicy"
removepkg "clusterlib"
removepkg "clutter"
removepkg "clutter-gesture"
removepkg "clutter-imcontext"
removepkg "cman"
removepkg "control-center-filesystem"
removepkg "coreutils-libs"
removepkg "corosync"
removepkg "corosynclib"
removepkg "cronie"
removepkg "cronie-anacron"
removepkg "crontabs"
removepkg "cups-libs"
removepkg "curl"
removepkg "cyrus-sasl"
removepkg "cyrus-sasl-md5"
removepkg "dash"
removepkg "db4-utils"
removepkg "dejavu-fonts-common"
removepkg "deltarpm"
removepkg "desktop-file-utils"
removepkg "device-mapper-event"
removepkg "diffutils"
removepkg "dmraid-events"
removepkg "dracut"
removepkg "fedora-release"
removepkg "fedora-release-rawhide"
removepkg "fence-agents"
removepkg "fence-virt"
removepkg "file"
removepkg "fipscheck"
removepkg "flac"
removepkg "fontpackages-filesystem"
removepkg "genisoimage"
removepkg "gnome-python2"
removepkg "gnome-vfs2"
removepkg "gnupg2"
removepkg "grubby"
removepkg "gstreamer-tools"
removepkg "hal-libs"
removepkg "info"
removepkg "ipmitool"
removepkg "iptables"
removepkg "iptables-ipv6"
removepkg "isomd5sum"
removepkg "jasper-libs"
removepkg "json-glib"
removepkg "kbd-misc"
removepkg "libIDL"
removepkg "libXScrnSaver"
removepkg "libXmu"
removepkg "libXres"
removepkg "libXt"
removepkg "libXv"
removepkg "libXvMC"
removepkg "libXxf86misc"
removepkg "libXxf86vm"
removepkg "libasyncns"
removepkg "libccss"
removepkg "libcgroup"
removepkg "libcroco"
removepkg "libdaemon"
removepkg "libevent"
removepkg "libgnome"
removepkg "libhbaapi"
removepkg "libhbalinux"
removepkg "libibverbs"
removepkg "libmcpp"
removepkg "libmodman"
removepkg "libmx"
removepkg "libnih"
removepkg "libpcap"
removepkg "libproxy"
removepkg "librdmacm"
removepkg "librsvg2"
removepkg "libselinux-utils"
removepkg "libsndfile"
removepkg "libsoup"
removepkg "libtiff"
removepkg "libutempter"
removepkg "libvirt-client"
removepkg "libwnck"
removepkg "libxslt"
removepkg "linux-atm-libs"
removepkg "llvm"
removepkg "lm_sensors-libs"
removepkg "logrotate"
removepkg "lvm2-libs"
removepkg "m4"
removepkg "mailx"
removepkg "makebootfat"
removepkg "mcpp"
removepkg "mesa-dri-drivers"
removepkg "mesa-libGL"
removepkg "mingetty"
removepkg "mobile-broadband-provider-info"
removepkg "modcluster"
removepkg "mutter-mbl"
removepkg "mutter-moblin"
removepkg "nbtk"
removepkg "nc"
removepkg "net-snmp-libs"
removepkg "net-snmp-perl"
removepkg "net-snmp-utils"
removepkg "netcf-libs"
removepkg "nfs-utils-lib"
removepkg "nss-sysinit"
removepkg "nss-tools"
removepkg "ntp"
removepkg "numactl"
removepkg "oddjob"
removepkg "openais"
removepkg "openaislib"
removepkg "passwd"
removepkg "perl"
removepkg "perl-Module-Pluggable"
removepkg "perl-Net-Telnet"
removepkg "perl-Pod-Escapes"
removepkg "perl-Pod-Simple"
removepkg "perl-libs"
removepkg "perl-threads"
removepkg "perl-threads-shared"
removepkg "pexpect"
removepkg "pinentry"
removepkg "pkgconfig"
removepkg "plymouth"
removepkg "plymouth-core-libs"
removepkg "plymouth-scripts"
removepkg "ppp"
removepkg "pth"
removepkg "pulseaudio-libs"
removepkg "redhat-menus"
removepkg "ricci"
removepkg "rmt"
removepkg "rpcbind"
removepkg "selinux-policy"
removepkg "setuptool"
removepkg "sg3_utils"
removepkg "sg3_utils-libs"
removepkg "sgml-common"
removepkg "sgpio"
removepkg "shadow-utils"
removepkg "shared-mime-info"
removepkg "smc-fonts-common"
removepkg "sound-theme-freedesktop"
removepkg "squashfs-tools"
removepkg "system-config-firewall-base"
removepkg "system-config-users"
removepkg "telnet"
removepkg "tigervnc-license"
removepkg "ttmkfdir"
removepkg "un-core-fonts-common"
removepkg "usermode"
removepkg "usermode-gtk"
removepkg "vlgothic-fonts-common"
removepkg "xdg-utils"
removepkg "xen-libs"
removepkg "xen-licenses"
removepkg "xml-common"
removepkg "xorg-x11-font-utils"
removepkg "xorg-x11-server-common"
removepkg "xorg-x11-xauth"
removepkg "xorg-x11-xinit"
removepkg "yajl"
removepkg "yum-utils"
run_pkg_transaction

## other removals
remove "/usr/share/doc"
remove "/usr/share/info"
remove "/usr/share/man"
remove "/usr/share/gnome"
remove "/usr/share/mime/application"
remove "/usr/share/mime/audio"
remove "/usr/share/mime/image"
remove "/usr/share/mime/inode"
remove "/usr/share/mime/message"
remove "/usr/share/mime/model"
remove "/usr/share/mime/multipart"
remove "/usr/share/mime/packages"
remove "/usr/share/mime/text"
remove "/usr/share/mime/video"
remove "/usr/share/mime/x-content"
remove "/usr/share/mime/x-epoc"
remove "/boot"
remove "/home"
remove "/media"
remove "/mnt"
remove "/opt"
remove "/srv"
remove "/usr/etc"
remove "/usr/games"
remove "/usr/local"
remove "/usr/tmp"
remove "/var/db"
remove "/var/games"
remove "/var/lib/rpm/*"
remove "/var/lib/yum"
remove "/var/local"
remove "/var/mail"
remove "/var/nis"
remove "/var/opt"
remove "/var/preserve"
remove "/var/report"
remove "/var/spool"
remove "/var/tmp"
remove "/var/yp"

## icons cache
remove "/usr/share/icons/*/icon-theme.cache"

## other package specific removals
removepkg "ConsoleKit" "/etc/ConsoleKit*"
removepkg "ConsoleKit" "/etc/init/*"
removepkg "ConsoleKit" "/lib/systemd/*"
removepkg "ConsoleKit" "/usr/bin/*"
removepkg "ConsoleKit" "/usr/lib/*"
removepkg "ConsoleKit" "/usr/sbin/*"
removepkg "GConf2" "/etc/rpm/*"
removepkg "GConf2" "/etc/xdg/*"
removepkg "GConf2" "/usr/bin/*"
removepkg "GConf2" "/usr/lib/GConf/2/libgconfbackend-evoldap*"
removepkg "GConf2" "/usr/lib/GConf/2/libgconfbackend-oldxml*"
removepkg "GConf2" "/usr/lib/gio/*"
removepkg "GConf2" "/usr/libexec/gconf-defaults-mechanism"
removepkg "GConf2" "/usr/share/GConf/*"
removepkg "GConf2" "/usr/share/locale/*"
removepkg "GConf2" "/usr/share/sgml/*"
removepkg "ModemManager" "/usr/${libdir}/*"
removepkg "ModemManager" "/usr/sbin/*"
removepkg "ModemManager" "/usr/share/icons/*"
removepkg "NetworkManager" "/etc/rc.d/*"
removepkg "NetworkManager" "/usr/bin/*"
removepkg "NetworkManager" "/usr/share/NetworkManager/*"
removepkg "NetworkManager" "/usr/share/locale/*/NetworkManager.mo"
removepkg "NetworkManager-gnome" "/etc/xdg/*"
removepkg "NetworkManager-gnome" "/usr/bin/nm-applet"
removepkg "NetworkManager-gnome" "/usr/${libdir}/*"
removepkg "NetworkManager-gnome" "/usr/share/applications/*"
removepkg "anaconda" "/etc/*"
removepkg "anaconda" "/usr/share/applications/*"
removepkg "anaconda" "/usr/share/icons/*"
removepkg "at-spi" "/etc/xdg/*"
removepkg "at-spi" "/usr/${libdir}/libcspi*"
removepkg "at-spi" "/usr/${libdir}/libloginhelper*"
removepkg "at-spi" "/usr/share/locale/*"
removepkg "atk" "/usr/share/locale/*"
removepkg "audit" "/etc/*"
removepkg "audit" "/sbin/audispd"
removepkg "audit" "/sbin/auditctl"
removepkg "audit" "/sbin/aureport"
removepkg "audit" "/sbin/ausearch"
removepkg "audit" "/sbin/autrace"
removepkg "audit" "/usr/bin/*"
removepkg "audit-libs" "/etc/*"
removepkg "audit-libs" "/${libdir}/libauparse*"
removepkg "authconfig" "/usr/sbin/*"
removepkg "authconfig" "/usr/share/*"
removepkg "avahi" "/lib/systemd/*"
removepkg "avahi" "/usr/share/locale/*"
removepkg "bash" "/etc/*"
removepkg "bash" "/usr/bin/*"
removepkg "bash" "/usr/share/*"
removepkg "bind-libs-lite" "/usr/${libdir}/libirs*"
removepkg "bind-libs-lite" "/usr/${libdir}/libisccfg-export*"
removepkg "bind-utils" "/usr/bin/dig"
removepkg "bind-utils" "/usr/bin/host"
removepkg "bind-utils" "/usr/bin/nsupdate"
removepkg "bitmap-fangsongti-fonts" "/usr/share/fonts/*"
removepkg "btrfs-progs" "/sbin/btrfs"
removepkg "btrfs-progs" "/sbin/btrfs-*"
removepkg "btrfs-progs" "/sbin/btrfstune"
removepkg "ca-certificates" "/etc/pki/java/*"
removepkg "ca-certificates" "/etc/pki/tls/certs/ca-bundle.trust.crt"
removepkg "ca-certificates" "/etc/ssl/*"
removepkg "cairo" "/usr/${libdir}/libcairo-script*"
removepkg "chkconfig" "/sbin/chkconfig"
removepkg "chkconfig" "/usr/sbin/alternatives"
removepkg "chkconfig" "/usr/sbin/update-alternatives"
removepkg "chkconfig" "/var/lib/alternatives"
removepkg "cjkuni-uming-fonts" "/etc/X11/*"
removepkg "coreutils" "/etc/*"
removepkg "coreutils" "/bin/link"
removepkg "coreutils" "/bin/nice"
removepkg "coreutils" "/bin/stty"
removepkg "coreutils" "/bin/su"
removepkg "coreutils" "/bin/unlink"
removepkg "coreutils" "/sbin/*"
removepkg "coreutils" "/usr/bin/["
removepkg "coreutils" "/usr/bin/base64"
removepkg "coreutils" "/usr/bin/chcon"
removepkg "coreutils" "/usr/bin/cksum"
removepkg "coreutils" "/usr/bin/comm"
removepkg "coreutils" "/usr/bin/csplit"
removepkg "coreutils" "/usr/bin/cut"
removepkg "coreutils" "/usr/bin/dir"
removepkg "coreutils" "/usr/bin/dircolors"
removepkg "coreutils" "/usr/bin/dirname"
removepkg "coreutils" "/usr/bin/env"
removepkg "coreutils" "/usr/bin/expand"
removepkg "coreutils" "/usr/bin/factor"
removepkg "coreutils" "/usr/bin/fmt"
removepkg "coreutils" "/usr/bin/fold"
removepkg "coreutils" "/usr/bin/groups"
removepkg "coreutils" "/usr/bin/hostid"
removepkg "coreutils" "/usr/bin/id"
removepkg "coreutils" "/usr/bin/install"
removepkg "coreutils" "/usr/bin/join"
removepkg "coreutils" "/usr/bin/logname"
removepkg "coreutils" "/usr/bin/mkfifo"
removepkg "coreutils" "/usr/bin/nl"
removepkg "coreutils" "/usr/bin/nohup"
removepkg "coreutils" "/usr/bin/nproc"
removepkg "coreutils" "/usr/bin/od"
removepkg "coreutils" "/usr/bin/paste"
removepkg "coreutils" "/usr/bin/pathchk"
removepkg "coreutils" "/usr/bin/pinky"
removepkg "coreutils" "/usr/bin/pr"
removepkg "coreutils" "/usr/bin/printenv"
removepkg "coreutils" "/usr/bin/printf"
removepkg "coreutils" "/usr/bin/ptx"
removepkg "coreutils" "/usr/bin/runcon"
removepkg "coreutils" "/usr/bin/seq"
removepkg "coreutils" "/usr/bin/sha224sum"
removepkg "coreutils" "/usr/bin/sha256sum"
removepkg "coreutils" "/usr/bin/sha384sum"
removepkg "coreutils" "/usr/bin/sha512sum"
removepkg "coreutils" "/usr/bin/shuf"
removepkg "coreutils" "/usr/bin/stat"
removepkg "coreutils" "/usr/bin/stdbuf"
removepkg "coreutils" "/usr/bin/sum"
removepkg "coreutils" "/usr/bin/test"
removepkg "coreutils" "/usr/bin/timeout"
removepkg "coreutils" "/usr/bin/truncate"
removepkg "coreutils" "/usr/bin/tsort"
removepkg "coreutils" "/usr/bin/unexpand"
removepkg "coreutils" "/usr/bin/users"
removepkg "coreutils" "/usr/bin/vdir"
removepkg "coreutils" "/usr/bin/who"
removepkg "coreutils" "/usr/bin/whoami"
removepkg "coreutils" "/usr/bin/yes"
removepkg "coreutils" "/usr/share/*"
removepkg "cpio" "/usr/share/*"
removepkg "cracklib" "/usr/sbin/*"
removepkg "cracklib-dicts" "/usr/${libdir}/*"
removepkg "cracklib-dicts" "/usr/sbin/*"
removepkg "createrepo" "/usr/bin/*"
removepkg "createrepo" "/usr/share/*"
removepkg "cryptsetup-luks" "/usr/share/*"
removepkg "cyrus-sasl-lib" "/usr/sbin/*"
removepkg "db4" "/usr/*"
removepkg "dbus-glib" "/usr/bin/*"
removepkg "dbus-x11" "/etc/X11/*"
removepkg "dejavu-sans-fonts" "/usr/share/fonts/dejavu/DejaVuSans-BoldOblique*"
removepkg "dejavu-sans-fonts" "/usr/share/fonts/dejavu/DejaVuSans-ExtraLight*"
removepkg "dejavu-sans-fonts" "/usr/share/fonts/dejavu/DejaVuSans-Oblique*"
removepkg "dejavu-sans-fonts" "/usr/share/fonts/dejavu/DejaVuSansCondensed*"
removepkg "dejavu-sans-mono-fonts" "/usr/share/fonts/dejavu/DejaVuSansMono-Bold*"
removepkg "dejavu-sans-mono-fonts" "/usr/share/fonts/dejavu/DejaVuSansMono-Oblique*"
removepkg "device-mapper-multipath" "/etc/*"
removepkg "device-mapper-multipath" "/sbin/mpathconf"
removepkg "device-mapper-multipath" "/sbin/multipathd"
removepkg "dhclient" "/usr/*"
removepkg "dmz-cursor-themes" "/usr/share/icons/dmz/*"
removepkg "dnsmasq" "/etc/rc.d/*"
removepkg "dnsmasq" "/usr/sbin/*"
removepkg "dogtail" "/usr/bin/*"
removepkg "dogtail" "/usr/share/applications/*"
removepkg "dogtail" "/usr/share/dogtail/*"
removepkg "dogtail" "/usr/share/icons/*"
removepkg "dosfstools" "/sbin/dosfsck"
removepkg "dosfstools" "/sbin/fsck.*"
removepkg "dump" "/etc/*"
removepkg "e2fsprogs" "/usr/sbin/*"
removepkg "e2fsprogs" "/usr/share/locale/*"
removepkg "elfutils-libelf" "/usr/share/locale/*"
removepkg "ethtool" "/usr/sbin/*"
removepkg "expat" "/usr/bin/*"
removepkg "fcoe-utils" "/etc/rc.d/*"
removepkg "fcoe-utils" "/usr/libexec/fcoe/dcbcheck.sh"
removepkg "fcoe-utils" "/usr/libexec/fcoe/fcc.sh"
removepkg "fcoe-utils" "/usr/libexec/fcoe/fcoe-setup.sh"
removepkg "fcoe-utils" "/usr/libexec/fcoe/fcoedump.sh"
removepkg "fcoe-utils" "/usr/sbin/fcnsq"
removepkg "fcoe-utils" "/usr/sbin/fcoeadm"
removepkg "fcoe-utils" "/usr/sbin/fcping"
removepkg "fcoe-utils" "/usr/sbin/fcrls"
removepkg "fedora-gnome-theme" "/etc/gtk-3.0/*"
removepkg "fedora-gnome-theme" "/usr/share/themes/*"
removepkg "file-libs" "/usr/share/*"
removepkg "findutils" "/usr/bin/oldfind"
removepkg "findutils" "/usr/share/*"
removepkg "firstboot" "/lib/systemd/*"
removepkg "firstboot" "/usr/sbin/*"
removepkg "firstboot" "/usr/share/firstboot/*"
removepkg "firstboot" "/usr/share/locale/*"
removepkg "fontconfig" "/usr/bin/*"
removepkg "gawk" "/usr/bin/*"
removepkg "gawk" "/usr/libexec/*"
removepkg "gawk" "/usr/share/*"
removepkg "gdk-pixbuf" "/usr/${libdir}/gdk-pixbuf/loaders/libpixbufloader-bmp*"
removepkg "gdk-pixbuf" "/usr/${libdir}/gdk-pixbuf/loaders/libpixbufloader-gif*"
removepkg "gdk-pixbuf" "/usr/${libdir}/gdk-pixbuf/loaders/libpixbufloader-ico*"
removepkg "gdk-pixbuf" "/usr/${libdir}/gdk-pixbuf/loaders/libpixbufloader-pnm*"
removepkg "gdk-pixbuf" "/usr/${libdir}/gdk-pixbuf/loaders/libpixbufloader-ras*"
removepkg "gdk-pixbuf" "/usr/${libdir}/gdk-pixbuf/loaders/libpixbufloader-xbm*"
removepkg "gdk-pixbuf" "/usr/${libdir}/gdk-pixbuf-*"
removepkg "gdk-pixbuf" "/usr/${libdir}/libgdk_pixbuf_xlib*"
removepkg "gdk-pixbuf" "/usr/share/locale/*"
removepkg "gdk-pixbuf2" "/usr/${libdir}/gdk-pixbuf-2.0/2.10.0/loaders/*"
removepkg "gdk-pixbuf2" "/usr/share/locale*"
removepkg "gfs2-utils" "/usr/sbin/*"
removepkg "glib2" "/etc/*"
removepkg "glib2" "/usr/bin/*"
removepkg "glib2" "/usr/share/locale/*"
removepkg "glibc" "/etc/gai.conf"
removepkg "glibc" "/etc/ld.so.conf"
removepkg "glibc" "/etc/localtime"
removepkg "glibc" "/etc/rpc"
removepkg "glibc" "/lib/${arch.buildarch}/nosegneg/*"
removepkg "glibc" "/${libdir}/libBrokenLocale*"
removepkg "glibc" "/${libdir}/libSegFault*"
removepkg "glibc" "/${libdir}/libanl*"
removepkg "glibc" "/${libdir}/libcidn*"
removepkg "glibc" "/${libdir}/libnss_compat*"
removepkg "glibc" "/${libdir}/libnss_hesiod*"
removepkg "glibc" "/${libdir}/libnss_nis*"
removepkg "glibc" "/${libdir}/libthread*"
removepkg "glibc" "/${libdir}/rtkaio*"
removepkg "glibc" "/sbin/*"
removepkg "glibc" "/usr/libexec/*"
removepkg "glibc" "/usr/sbin/*"
removepkg "glibc-common" "/etc/*"
removepkg "glibc-common" "/usr/bin/catchsegv"
removepkg "glibc-common" "/usr/bin/gencat"
removepkg "glibc-common" "/usr/bin/getconf"
removepkg "glibc-common" "/usr/bin/getent"
removepkg "glibc-common" "/usr/bin/ldd"
removepkg "glibc-common" "/usr/bin/locale"
removepkg "glibc-common" "/usr/bin/rpcgen"
removepkg "glibc-common" "/usr/bin/sprof"
removepkg "glibc-common" "/usr/bin/tzselect"
removepkg "glibc-common" "/usr/libexec/*"
removepkg "glibc-common" "/usr/sbin/*"

# remove generated locales anaconda knows how to restore them at runtime
removepkg "glibc-common" "/usr/lib/locale/*"
# locale-archive is not in the glibc-common filelist
remove "/usr/lib/locale/locale-archive"

removepkg "gmp" "/usr/${libdir}/libgmpxx.*"
removepkg "gmp" "/usr/${libdir}/libmp.*"
removepkg "gnome-bluetooth-libs" "/usr/${libdir}/libgnome-bluetooth*"
removepkg "gnome-bluetooth-libs" "/usr/share/*"
removepkg "gnome-keyring" "/etc/xdg/*"
removepkg "gnome-keyring" "/usr/bin/*"
removepkg "gnome-keyring" "/usr/${libdir}/*"
removepkg "gnome-keyring" "/usr/libexec/*"
removepkg "gnome-keyring" "/usr/share/GConf/*"
removepkg "gnome-keyring" "/usr/share/gcr-3/*"
removepkg "gnome-keyring" "/usr/share/glib-2.0/*"
removepkg "gnome-keyring" "/usr/share/gnome-keyring*"
removepkg "gnome-keyring" "/usr/share/locale/*"
removepkg "gnome-python2-gconf" "/usr/share/pygtk/*"
removepkg "gnome-themes" "/usr/share/icons/Crux/*"
removepkg "gnome-themes" "/usr/share/icons/HighContrast*"
removepkg "gnome-themes" "/usr/share/icons/LargePrint/*"
removepkg "gnome-themes" "/usr/share/locale/*"
removepkg "gnome-themes" "/usr/share/themes/ClearlooksClassic/*"
removepkg "gnome-themes" "/usr/share/themes/Crux/*"
removepkg "gnome-themes" "/usr/share/themes/Glider/*"
removepkg "gnome-themes" "/usr/share/themes/Glossy/*"
removepkg "gnome-themes" "/usr/share/themes/HighContrast*"
removepkg "gnome-themes" "/usr/share/themes/Inverted/*"
removepkg "gnome-themes" "/usr/share/themes/LargePrint/*"
removepkg "gnome-themes" "/usr/share/themes/LowContrast*"
removepkg "gnome-themes" "/usr/share/themes/Mist/*"
removepkg "gnome-themes" "/usr/share/themes/Simple/*"
removepkg "gnutls" "/usr/share/locale/*"
removepkg "gpgme" "/usr/${libdir}/libgpgme-*"
removepkg "grep" "/etc/*"
removepkg "grep" "/usr/share/locale/*"
removepkg "groff" "/usr/bin/addftinfo"
removepkg "groff" "/usr/bin/eqn"
removepkg "groff" "/usr/bin/eqn2graph"
removepkg "groff" "/usr/bin/gdiffmk"
removepkg "groff" "/usr/bin/gindxbib"
removepkg "groff" "/usr/bin/glookbib"
removepkg "groff" "/usr/bin/gneqn"
removepkg "groff" "/usr/bin/gnroff"
removepkg "groff" "/usr/bin/grap2graph"
removepkg "groff" "/usr/bin/grn"
removepkg "groff" "/usr/bin/grodvi"
removepkg "groff" "/usr/bin/grolbp"
removepkg "groff" "/usr/bin/grolj4"
removepkg "groff" "/usr/bin/grops"
removepkg "groff" "/usr/bin/grotty"
removepkg "groff" "/usr/bin/gsoelim"
removepkg "groff" "/usr/bin/gtroff"
removepkg "groff" "/usr/bin/hpftodit"
removepkg "groff" "/usr/bin/indxbib"
removepkg "groff" "/usr/bin/lkbib"
removepkg "groff" "/usr/bin/lookbib"
removepkg "groff" "/usr/bin/neqn"
removepkg "groff" "/usr/bin/pdfroff"
removepkg "groff" "/usr/bin/pfbtops"
removepkg "groff" "/usr/bin/pic"
removepkg "groff" "/usr/bin/pic2graph"
removepkg "groff" "/usr/bin/post-grohtml"
removepkg "groff" "/usr/bin/pre-grohtml"
removepkg "groff" "/usr/bin/preconv"
removepkg "groff" "/usr/bin/refer"
removepkg "groff" "/usr/bin/soelim"
removepkg "groff" "/usr/bin/tbl"
removepkg "groff" "/usr/bin/tfmtodit"
removepkg "groff" "/usr/bin/troff"
removepkg "groff" "/usr/bin/zsoelim"
removepkg "groff" "/usr/share/*"
removepkg "grub" "/sbin/grub-*"
removepkg "grub" "/usr/bin/*"
removepkg "gstreamer" "/usr/bin/*"
removepkg "gstreamer" "/usr/${libdir}/gstreamer-0.10/*"
removepkg "gstreamer" "/usr/${libdir}/libgst*"
removepkg "gstreamer" "/usr/libexec/*"
removepkg "gstreamer" "/usr/share/locale/*"
removepkg "gtk+" "/etc/*"
removepkg "gtk+" "/usr/share/locale/*"
removepkg "gtk2" "/usr/bin/update-gtk-immodules"
removepkg "gtk2" "/usr/lib/gtk-2.0/2.10.0/engines/*"
removepkg "gtk2" "/usr/lib/gtk-2.0/2.10.0/printbackends/*"
removepkg "gtk2" "/usr/share/themes/*"
removepkg "gtk2-engines" "/usr/share/gtk-engines/*"
removepkg "gtk2-engines" "/usr/share/locale/*"
removepkg "gtk2-engines" "/usr/share/themes/Crux/*"
removepkg "gtk2-engines" "/usr/share/themes/Industrial/*"
removepkg "gtk2-engines" "/usr/share/themes/Mist/*"
removepkg "gtk2-engines" "/usr/share/themes/ThinIce/*"
removepkg "gtk2-engines" "/usr/${libdir}/*/libcrux-engine*"
removepkg "gtk2-engines" "/usr/${libdir}/*/libglide*"
removepkg "gtk2-engines" "/usr/${libdir}/*/libhcengine*"
removepkg "gtk2-engines" "/usr/${libdir}/*/libindustrial*"
removepkg "gtk2-engines" "/usr/${libdir}/*/libmist*"
removepkg "gtk2-engines" "/usr/${libdir}/*/libredmond*"
removepkg "gtk2-engines" "/usr/${libdir}/*/libthinice*"
removepkg "gtk3" "/usr/share/*"
removepkg "gtk3" "/usr/${libdir}/gtk-3.0/*"
removepkg "gtk3" "/usr/${libdir}/libgailutil*"
removepkg "gtk3-engines" "/usr/${libdir}/*"
removepkg "gtk3-engines" "/usr/share/gtk-engines/*"
removepkg "gtk3-engines" "/usr/share/locale/*"
removepkg "gtk3-engines" "/usr/share/themes/Crux/*"
removepkg "gtk3-engines" "/usr/share/themes/GNOME3/*"
removepkg "gtk3-engines" "/usr/share/themes/Industrial/*"
removepkg "gtk3-engines" "/usr/share/themes/Mist/*"
removepkg "gtk3-engines" "/usr/share/themes/Redmond/*"
removepkg "gtk3-engines" "/usr/share/themes/ThinIce/*"
removepkg "gzip" "/usr/bin/*"
removepkg "hwdata" "/etc/*"
removepkg "hwdata" "/usr/share/hwdata/oui.txt"
removepkg "hwdata" "/usr/share/hwdata/pnp.ids"
removepkg "hwdata" "/usr/share/hwdata/upgradelist"
removepkg "initscripts" "/etc/ppp/*"
removepkg "initscripts" "/lib/systemd/system/fedora-readonly.service"
removepkg "initscripts" "/lib/systemd/system/fedora-storage-init.service"
removepkg "initscripts" "/lib/systemd/system/fedora-wait-storage.service"
removepkg "initscripts" "/usr/sbin/*"
removepkg "initscripts" "/usr/share/locale/*"
removepkg "iproute" "/etc/*"
removepkg "iproute" "/sbin/cbq"
removepkg "iproute" "/sbin/ifcfg"
removepkg "iproute" "/sbin/rtmon"
removepkg "iproute" "/sbin/tc"
removepkg "iproute" "/usr/*"
removepkg "iputils" "/etc/*"
removepkg "iputils" "/bin/ping6"
removepkg "iputils" "/bin/tracepath*"
removepkg "iputils" "/sbin/ifenslave"
removepkg "iputils" "/sbin/rdisc"
removepkg "iputils" "/usr/sbin/*"
removepkg "iscsi-initiator-utils" "/etc/rc.d/*"
removepkg "jfsutils" "/sbin/jfs_fsck"
removepkg "jfsutils" "/sbin/jfs_fscklog"
removepkg "jfsutils" "/sbin/jfs_logdump"
removepkg "jfsutils" "/sbin/jfs_mkfs"
removepkg "kbd" "/bin/*"
removepkg "kbd" "/usr/share/locale/*"
removepkg "krb5-libs" "/etc/*"
removepkg "krb5-libs" "/${libdir}/libgssrpc*"
removepkg "krb5-libs" "/usr/${libdir}/*"
removepkg "less" "/etc/*"
removepkg "libX11-common" "/usr/share/X11/XErrorDB"
removepkg "libbonobo" "/etc/*"
removepkg "libbonobo" "/usr/bin/*"
removepkg "libbonobo" "/usr/sbin/*"
removepkg "libbonobo" "/usr/share/locale/*"
removepkg "libbonobo" "/usr/${libdir}/bonobo/monikers/*"
removepkg "libbonobo" "/usr/${libdir}/orbit-2.0/Bonobo_module.so"
removepkg "libbonoboui" "/usr/share/locale/*"
removepkg "libcanberra" "/usr/${libdir}/libcanberra-*"
removepkg "libcanberra-gtk2" "/usr/${libdir}/gtk-2.0/*"
removepkg "libcanberra-gtk3" "/usr/bin/*"
removepkg "libcanberra-gtk3" "/usr/${libdir}/*"
removepkg "libcap" "/usr/sbin/*"
removepkg "libconfig" "/usr/${libdir}/libconfig++*"
removepkg "libgnome-keyring" "/usr/share/locale/*"
removepkg "libgnomecanvas" "/usr/share/locale/*"
removepkg "libgpg-error" "/usr/bin/*"
removepkg "libgpg-error" "/usr/share/locale/*"
removepkg "libgssglue" "/etc/*"
removepkg "libidn" "/usr/bin/*"
removepkg "libidn" "/usr/share/locale/*"
removepkg "libmlx4" "/etc/rdma/*"
removepkg "libmlx4" "/usr/${libdir}/*"
removepkg "libnotify" "/usr/bin/*"
removepkg "libpng" "/usr/${libdir}/libpng.*"
removepkg "libselinux" "/sbin/*"
removepkg "libsemanage" "/etc/selinux/*"
removepkg "libstdc++" "/usr/share/*"
removepkg "libthai" "/usr/share/libthai/*"
removepkg "libuser" "/usr/bin/*"
removepkg "libuser" "/usr/sbin/*"
removepkg "libuser" "/usr/share/locale/*"
removepkg "libvorbis" "/usr/${libdir}/libvorbisenc.*"
removepkg "libxcb" "/usr/${libdir}/libxcb-*"
removepkg "libxml2" "/usr/bin/*"
removepkg "libxml2-python" "/usr/${libdir}/python?.?/site-packages/libxml2mod.a"
removepkg "libxml2-python" "/usr/${libdir}/python?.?/site-packages/libxml2mod.la"
removepkg "lldpad" "/etc/*"
removepkg "lldpad" "/usr/sbin/lldptool"
removepkg "lua" "/usr/bin/*"
removepkg "lvm2" "/etc/*"
removepkg "lvm2-cluster" "/etc/rc.d/init.d/*"
removepkg "lvm2-cluster" "/usr/sbin/*"
removepkg "lzo" "/usr/${libdir}/liblzo2.*"
removepkg "madan-fonts" "/usr/share/fonts/madan/*"
removepkg "man-db" "/etc/sysconfig/*"
removepkg "man-db" "/usr/bin/*"
removepkg "man-db" "/usr/libexec/*"
removepkg "man-db" "/usr/sbin/*"
removepkg "man-db" "/usr/share/locale/*"
removepkg "mdadm" "/etc/*"
removepkg "metacity" "/usr/share/applications/*"
removepkg "metacity" "/usr/share/gnome-control-center/*"
removepkg "metacity" "/usr/share/gnome/*"
removepkg "metacity" "/usr/share/locale/*"
removepkg "metacity" "/usr/share/metacity/*"
removepkg "metacity" "/usr/share/themes/AgingGorilla/*"
removepkg "metacity" "/usr/share/themes/Bright/*"
removepkg "metacity" "/usr/share/themes/Crux/*"
removepkg "metacity" "/usr/share/themes/Esco/*"
removepkg "metacity" "/usr/share/themes/Metabox/*"
removepkg "metacity" "/usr/share/themes/Simple/*"
removepkg "module-init-tools" "/etc/*"
removepkg "module-init-tools" "/sbin/insmod.static"
removepkg "module-init-tools" "/sbin/weak-modules"
removepkg "mt-st" "/etc/*"
removepkg "mt-st" "/sbin/*"
removepkg "mtools" "/etc/*"
removepkg "ncurses" "/usr/bin/captoinfo"
removepkg "ncurses" "/usr/bin/infocmp"
removepkg "ncurses" "/usr/bin/infotocap"
removepkg "ncurses" "/usr/bin/reset"
removepkg "ncurses" "/usr/bin/tabs"
removepkg "ncurses" "/usr/bin/tic"
removepkg "ncurses" "/usr/bin/toe"
removepkg "ncurses" "/usr/bin/tput"
removepkg "ncurses" "/usr/bin/tset"
removepkg "ncurses-libs" "/usr/${libdir}/libform*"
removepkg "ncurses-libs" "/usr/${libdir}/libmenu*"
removepkg "ncurses-libs" "/usr/${libdir}/libpanel.*"
removepkg "ncurses-libs" "/usr/${libdir}/libtic*"
removepkg "net-tools" "/bin/netstat"
removepkg "net-tools" "/etc/ethers"
removepkg "net-tools" "/sbin/ether-wake"
removepkg "net-tools" "/sbin/ipmaddr"
removepkg "net-tools" "/sbin/iptunnel"
removepkg "net-tools" "/sbin/mii-diag"
removepkg "net-tools" "/sbin/mii-tool"
removepkg "net-tools" "/sbin/nameif"
removepkg "net-tools" "/sbin/plipconfig"
removepkg "net-tools" "/sbin/slattach"
removepkg "net-tools" "/usr/share/locale/*"
removepkg "network-manager-netbook" "/etc/*"
removepkg "network-manager-netbook" "/usr/libexec/*"
removepkg "network-manager-netbook" "/usr/share/dbus-1/*"
removepkg "network-manager-netbook" "/usr/share/locale/*"
removepkg "network-manager-netbook" "/usr/share/network-manager-netbook/*"
removepkg "newt" "/usr/share/locale/*"
removepkg "nfs-utils" "/etc/nfsmount.conf"
removepkg "nfs-utils" "/etc/rc.d/init.d/nfs"
removepkg "nfs-utils" "/etc/rc.d/init.d/nfslock"
removepkg "nfs-utils" "/etc/rc.d/init.d/rpcgssd"
removepkg "nfs-utils" "/etc/rc.d/init.d/rpcidmapd"
removepkg "nfs-utils" "/etc/rc.d/init.d/rpcsvcgssd"
removepkg "nfs-utils" "/etc/sysconfig/nfs"
removepkg "nfs-utils" "/sbin/rpc.statd"
removepkg "nfs-utils" "/usr/sbin/exportfs"
removepkg "nfs-utils" "/usr/sbin/gss_clnt_send_err"
removepkg "nfs-utils" "/usr/sbin/gss_destroy_creds"
removepkg "nfs-utils" "/usr/sbin/mountstats"
removepkg "nfs-utils" "/usr/sbin/nfsiostat"
removepkg "nfs-utils" "/usr/sbin/nfsstat"
removepkg "nfs-utils" "/usr/sbin/rpc.gssd"
removepkg "nfs-utils" "/usr/sbin/rpc.idmapd"
removepkg "nfs-utils" "/usr/sbin/rpc.mountd"
removepkg "nfs-utils" "/usr/sbin/rpc.nfsd"
removepkg "nfs-utils" "/usr/sbin/rpc.svcgssd"
removepkg "nfs-utils" "/usr/sbin/rpcdebug"
removepkg "nfs-utils" "/usr/sbin/showmount"
removepkg "nfs-utils" "/usr/sbin/sm-notify"
removepkg "nfs-utils" "/usr/sbin/start-statd"
removepkg "nfs-utils" "/var/lib/nfs/etab"
removepkg "nfs-utils" "/var/lib/nfs/rmtab"
removepkg "nfs-utils" "/var/lib/nfs/state"
removepkg "nfs-utils" "/var/lib/nfs/xtab"
removepkg "notification-daemon" "/usr/${libdir}/*"
removepkg "notification-daemon" "/usr/libexec/*"
removepkg "notification-daemon" "/usr/share/locale/*"
removepkg "nss" "/etc/pki/*"
removepkg "nss-softokn" "/usr/${libdir}/nss/*"
removepkg "ntfs-3g" "/bin/lowntfs-3g"
removepkg "ntfs-3g" "/bin/ntfs-3g.*"
removepkg "ntfs-3g" "/bin/ntfsmount"
removepkg "ntfs-3g" "/sbin/mount.lowntfs-3g"
removepkg "ntfs-3g" "/usr/share/hal/*"
removepkg "ntfs-3g" "/usr/bin/*"
removepkg "ntfsprogs" "/sbin/*"
removepkg "openldap" "/etc/openldap/*"
removepkg "openldap" "/usr/${libdir}/libldap_r-*"
removepkg "openldap" "/usr/${libdir}/libldap_r-*"
removepkg "openldap" "/usr/${libdir}/libldif-*"
removepkg "openldap" "/usr/${libdir}/libldif-*"
removepkg "openssh" "/etc/ssh/*"
removepkg "openssh" "/usr/libexec/*"
removepkg "openssh-clients" "/etc/ssh/*"
removepkg "openssh-clients" "/usr/bin/slogin"
removepkg "openssh-clients" "/usr/bin/ssh-*"
removepkg "openssh-clients" "/usr/${libdir}/*"
removepkg "openssh-clients" "/usr/libexec/*"
removepkg "openssh-server" "/etc/ssh/*"
removepkg "openssh-server" "/usr/${libdir}/*"
removepkg "openssh-server" "/usr/libexec/*"
removepkg "openssl" "/etc/pki/*"
removepkg "openssl" "/usr/bin/*"
removepkg "openssl" "/usr/${libdir}/openssl/*"
removepkg "pam" "/sbin/*"
removepkg "pam" "/usr/share/locale/*"
removepkg "pciutils" "/usr/sbin/*"
removepkg "pcmciautils" "/sbin/*"
removepkg "pcre" "/usr/bin/*"
removepkg "pcre" "/usr/${libdir}/*"
removepkg "policycoreutils" "/etc/*"
removepkg "policycoreutils" "/usr/bin/*"
removepkg "policycoreutils" "/usr/share/locale/*"
removepkg "polkit" "/usr/bin/*"
removepkg "polkit-desktop-policy" "/var/lib/*"
removepkg "popt" "/usr/share/locale/*"
removepkg "procps" "/sbin/*"
removepkg "procps" "/usr/bin/free"
removepkg "procps" "/usr/bin/pgrep"
removepkg "procps" "/usr/bin/pkill"
removepkg "procps" "/usr/bin/pmap"
removepkg "procps" "/usr/bin/pwdx"
removepkg "procps" "/usr/bin/skill"
removepkg "procps" "/usr/bin/slabtop"
removepkg "procps" "/usr/bin/snice"
removepkg "procps" "/usr/bin/tload"
removepkg "procps" "/usr/bin/uptime"
removepkg "procps" "/usr/bin/vmstat"
removepkg "procps" "/usr/bin/w"
removepkg "procps" "/usr/bin/watch"
removepkg "psmisc" "/sbin/*"
removepkg "psmisc" "/usr/share/locale/*"
removepkg "pygtk2" "/usr/bin/*"
removepkg "pygtk2" "/usr/${libdir}/pygtk/*"
removepkg "pykickstart" "/usr/bin/*"
removepkg "pykickstart" "/usr/share/locale/*"
removepkg "python-bugzilla" "/usr/bin/*"
removepkg "python-ethtool" "/usr/sbin/*"
removepkg "python-meh" "/usr/share/locale/*"
removepkg "readline" "/usr/${libdir}/*"
removepkg "report" "/usr/bin/*"
removepkg "report" "/usr/include/*"
removepkg "report" "/usr/${libdir}/libstrata_*"
removepkg "report" "/usr/share/locale/*"
removepkg "rpm" "/usr/bin/*"
removepkg "rpm" "/usr/lib/rpm/platform/*"
removepkg "rpm" "/usr/share/locale/*"
removepkg "rsync" "/etc/*"
removepkg "samba-common" "/etc/*"
removepkg "samba-common" "/usr/bin/*"
removepkg "samba-common" "/usr/include/*"
removepkg "samba-common" "/usr/${libdir}/*"
removepkg "samba-common" "/usr/share/locale/*"
removepkg "samba-winbind-clients" "/${libdir}/libnss_*"
removepkg "samba-winbind-clients" "/usr/${libdir}/libnss_*"
removepkg "sed" "/usr/share/locale/*"
removepkg "selinux-policy-targeted" "/usr/share/selinux/*"
removepkg "smartmontools" "/etc/*"
removepkg "smartmontools" "/usr/sbin/smartd"
removepkg "smartmontools" "/usr/sbin/update-smart-drivedb"
removepkg "smartmontools" "/usr/share/smartmontools/*"
removepkg "sqlite" "/usr/bin/*"
removepkg "system-config-date" "/etc/*"
removepkg "system-config-date" "/usr/bin/*"
removepkg "system-config-date" "/usr/share/icons/*"
removepkg "system-config-keyboard" "/etc/*"
removepkg "system-config-keyboard" "/usr/bin/*"
removepkg "system-config-keyboard" "/usr/share/icons/*"
removepkg "systemd-units" "/lib/systemd/system/bluetooth.target"
removepkg "systemd-units" "/lib/systemd/system/http-daemon.target"
removepkg "systemd-units" "/lib/systemd/system/kexec*"
removepkg "systemd-units" "/lib/systemd/system/local-fs.target.wants/media.mount"
removepkg "systemd-units" "/lib/systemd/system/mail-transfer-agent.target"
removepkg "systemd-units" "/lib/systemd/system/media.mount"
removepkg "systemd-units" "/lib/systemd/system/printer*"
removepkg "systemd-units" "/lib/systemd/system/*plymouth*"
removepkg "systemd-units" "/lib/systemd/system/quota*"
removepkg "systemd-units" "/lib/systemd/system/smartcard*"
removepkg "systemd-units" "/lib/systemd/system/systemd-remount-api-vfs.service"
removepkg "sysvinit-tools" "/bin/*"
removepkg "sysvinit-tools" "/usr/bin/*"
removepkg "tar" "/usr/share/locale/*"
removepkg "un-core-dotum-fonts" "/usr/share/fonts/un-core/UnDotumBold.ttf"
removepkg "usbutils" "/usr/bin/*"
removepkg "util-linux" "/bin/findmnt"
removepkg "util-linux" "/bin/taskset"
removepkg "util-linux" "/etc/pam.d/chfn"
removepkg "util-linux" "/etc/pam.d/chsh"
removepkg "util-linux" "/sbin/addpart"
removepkg "util-linux" "/sbin/cfdisk"
removepkg "util-linux" "/sbin/ctrlaltdel"
removepkg "util-linux" "/sbin/delpart"
removepkg "util-linux" "/sbin/findfs"
removepkg "util-linux" "/sbin/fsck.cramfs"
removepkg "util-linux" "/sbin/fsfreeze"
removepkg "util-linux" "/sbin/mkfs"
removepkg "util-linux" "/sbin/mkfs.cramfs"
removepkg "util-linux" "/sbin/partx"
removepkg "util-linux" "/sbin/pivot_root"
removepkg "util-linux" "/sbin/swaplabel"
removepkg "util-linux" "/sbin/switch_root"
removepkg "util-linux" "/usr/bin/cal"
removepkg "util-linux" "/usr/bin/chfn"
removepkg "util-linux" "/usr/bin/chrt"
removepkg "util-linux" "/usr/bin/chsh"
removepkg "util-linux" "/usr/bin/col"
removepkg "util-linux" "/usr/bin/colcrt"
removepkg "util-linux" "/usr/bin/colrm"
removepkg "util-linux" "/usr/bin/column"
removepkg "util-linux" "/usr/bin/ddate"
removepkg "util-linux" "/usr/bin/fallocate"
removepkg "util-linux" "/usr/bin/flock"
removepkg "util-linux" "/usr/bin/floppy"
removepkg "util-linux" "/usr/bin/getopt"
removepkg "util-linux" "/usr/bin/hexdump"
removepkg "util-linux" "/usr/bin/i386"
removepkg "util-linux" "/usr/bin/ionice"
removepkg "util-linux" "/usr/bin/ipcmk"
removepkg "util-linux" "/usr/bin/ipcrm"
removepkg "util-linux" "/usr/bin/ipcs"
removepkg "util-linux" "/usr/bin/isosize"
removepkg "util-linux" "/usr/bin/kill"
removepkg "util-linux" "/usr/bin/linux32"
removepkg "util-linux" "/usr/bin/linux64"
removepkg "util-linux" "/usr/bin/look"
removepkg "util-linux" "/usr/bin/lscpu"
removepkg "util-linux" "/usr/bin/mcookie"
removepkg "util-linux" "/usr/bin/namei"
removepkg "util-linux" "/usr/bin/rename"
removepkg "util-linux" "/usr/bin/renice"
removepkg "util-linux" "/usr/bin/rev"
removepkg "util-linux" "/usr/bin/script"
removepkg "util-linux" "/usr/bin/scriptreplay"
removepkg "util-linux" "/usr/bin/setarch"
removepkg "util-linux" "/usr/bin/setsid"
removepkg "util-linux" "/usr/bin/setterm"
removepkg "util-linux" "/usr/bin/tailf"
removepkg "util-linux" "/usr/bin/ul"
removepkg "util-linux" "/usr/bin/unshare"
removepkg "util-linux" "/usr/bin/uuidgen"
removepkg "util-linux" "/usr/bin/whereis"
removepkg "util-linux" "/usr/bin/write"
removepkg "util-linux" "/usr/bin/x86_64"
removepkg "util-linux" "/usr/sbin/fdformat"
removepkg "util-linux" "/usr/sbin/hwclock"
removepkg "util-linux" "/usr/sbin/ldattach"
removepkg "util-linux" "/usr/sbin/readprofile"
removepkg "util-linux" "/usr/sbin/rtcwake"
removepkg "util-linux" "/usr/sbin/tunelp"
removepkg "util-linux" "/usr/share/locale/*"
removepkg "volume_key-libs" "/usr/share/locale/*"
removepkg "wget" "/etc/*"
removepkg "wget" "/usr/share/locale/*"
removepkg "xfsprogs" "/${libdir}/*"
removepkg "xfsprogs" "/usr/sbin/xfs_bmapd"
removepkg "xfsprogs" "/usr/sbin/xfs_estimate"
removepkg "xfsprogs" "/usr/sbin/xfs_freeze"
removepkg "xfsprogs" "/usr/sbin/xfs_fsr"
removepkg "xfsprogs" "/usr/sbin/xfs_growfs"
removepkg "xfsprogs" "/usr/sbin/xfs_info"
removepkg "xfsprogs" "/usr/sbin/xfs_io"
removepkg "xfsprogs" "/usr/sbin/xfs_logprint"
removepkg "xfsprogs" "/usr/sbin/xfs_mdrestore"
removepkg "xfsprogs" "/usr/sbin/xfs_metadump"
removepkg "xfsprogs" "/usr/sbin/xfs_mkfile"
removepkg "xfsprogs" "/usr/sbin/xfs_ncheck"
removepkg "xfsprogs" "/usr/sbin/xfs_quota"
removepkg "xfsprogs" "/usr/sbin/xfs_rtcp"
removepkg "xfsprogs" "/usr/share/locale/*"
removepkg "xkeyboard-config" "/usr/share/locale/*"
removepkg "xorg-x11-drv-intel" "/usr/${libdir}/libI*"
removepkg "xorg-x11-drv-openchrome" "/usr/${libdir}/libchrome*"
removepkg "xorg-x11-drv-synaptics" "/usr/bin/*"
removepkg "xorg-x11-drv-vmmouse" "/usr/bin/*"
removepkg "xorg-x11-drv-wacom" "/usr/bin/*"
removepkg "xorg-x11-fonts-ethiopic" "/etc/X11/*"
removepkg "xorg-x11-fonts-ethiopic" "/usr/share/X11/fonts/OTF/*"
removepkg "xorg-x11-fonts-misc" "/etc/X11/*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/encodings/*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/10x20*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/12x*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/18x18*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/4x6*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/5x7*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/5x8*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/6x10*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/6x12*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/6x9*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/7x*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/8x*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/9x*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/arabic*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/cl*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/cu-*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/cu12*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/cuarabic*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/cudevnag*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/dec*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/gb*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/hang*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/jiskan*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/k14*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/micro*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/nil2*"
removepkg "xorg-x11-fonts-misc" "/usr/share/X11/fonts/misc/olg*"
removepkg "xorg-x11-server-utils" "/usr/bin/iceauth"
removepkg "xorg-x11-server-utils" "/usr/bin/sessreg"
removepkg "xorg-x11-server-utils" "/usr/bin/showrgb"
removepkg "xorg-x11-server-utils" "/usr/bin/xgamma"
removepkg "xorg-x11-server-utils" "/usr/bin/xhost"
removepkg "xorg-x11-server-utils" "/usr/bin/xmodmap"
removepkg "xorg-x11-server-utils" "/usr/bin/xrdb"
removepkg "xorg-x11-server-utils" "/usr/bin/xrefresh"
removepkg "xorg-x11-server-utils" "/usr/bin/xset"
removepkg "xorg-x11-server-utils" "/usr/bin/xsetmode"
removepkg "xorg-x11-server-utils" "/usr/bin/xsetpointer"
removepkg "xorg-x11-server-utils" "/usr/bin/xsetroot"
removepkg "xorg-x11-server-utils" "/usr/bin/xstdcmap"
removepkg "yum" "etc/*"
removepkg "yum" "/usr/share/locale/*"
removepkg "yum" "/usr/share/yum-cli/*"
removepkg "zenity" "/usr/share/gnome/help/*"
removepkg "zenity" "/usr/share/omf/*"
removepkg "${product.name}-logos" "/etc/*"
removepkg "${product.name}-logos" "/usr/share/firstboot/*"
removepkg "${product.name}-logos" "/usr/share/gnome-screensaver/*"
removepkg "${product.name}-logos" "/usr/share/icons/Bluecurve/*"
removepkg "${product.name}-logos" "/usr/share/icons/oxygen/*"
removepkg "${product.name}-logos" "/usr/share/pixmaps/*"
removepkg "${product.name}-logos" "/usr/share/plymouth/*"

## cleanup_python_files()
runcmd find ${root} -name "*.pyo" -type f -delete
runcmd find ${root} -name "*.pyc" -type f -exec ln -sf /dev/null {} \;
