<%page args="kernels, runtime_img, basearch, outroot, product"/>
<%
configdir="tmp/config_files"
BOOTDIR="boot"
KERNELDIR=BOOTDIR
%>

mkdir images
install ${runtime_img} images/install.img

install boot/*.b ${BOOTDIR}
install ${configdir}/silo.conf ${BOOTDIR}
install ${configdir}/boot.msg.sparc ${BOOTDIR}/boot.msg

replace @VERSION@ ${product.version} ${BOOTDIR}/boot.msg
replace @PRODUCT@ ${product.name} ${BOOTDIR}/boot.msg

%for kernel in kernels:
    installkernel images-${basearch} ${kernel.path} ${KERNELDIR}/vmlinuz
    installinitrd images-${basearch} ${kernel.initrd.path} ${KERNELDIR}/initrd.img
%endfor

replace @ROOT@ root=live:CDLABEL=PBOOT ${BOOTDIR}/silo.conf

runcmd mkisofs -R -J -T -G /${BOOTDIR}/isofs.b -B ... \
  -s /${BOOTDIR}/silo.conf -r -V "PBOOT" \
  -A "${product.name} ${product.version}" \
  -x Fedora -x repodata \
  -sparc-label "${product.name} ${product.version} Boot Disc" \
  -o ${outroot}/images/boot.iso \
  -graft-points boot=${outroot}/${BOOTDIR} \
                LiveOS/squashfs.img=${outroot}/images/install.img
treeinfo images-${basearch} boot.iso images/boot.iso
