<%
ANABOOTDIR="usr/share/anaconda/boot"
BOOTDIR="boot"
KERNELDIR=BOOTDIR
%>

mkdir images
install ${runtime_img} images

install boot/*.b ${BOOTDIR}
install ${ANABOOTDIR}/silo.conf ${BOOTDIR}
install ${ANABOOTDIR}/boot.msg ${BOOTDIR}/boot.msg

replace %VERSION% ${product.version} ${BOOTDIR}/boot.msg
replace %PRODUCT% ${product.name} ${BOOTDIR}/boot.msg

%for kernel in kernels:
    installkernel images-${basearch} ${kernel.path} ${KERNELDIR}/vmlinuz
    installinitrd images-${basearch} ${kernel.initrd.path} ${KERNELDIR}/initrd.img
%endfor

runcmd mkisofs -R -J -T -G /${BOOTDIR}/isofs.b -B ... \
  -s /${BOOTDIR}/silo.conf -r -V "PBOOT" \
  -A "${product.name} ${product.version}" \
  -x Fedora -x repodata \
  -sparc-label "${product.name} ${product.version} Boot Disc" \
  -o ${outroot}/images/boot.iso \
  -graft-points boot=${outroot}/${BOOTDIR} \
                ${runtime_img}=${outroot}/${runtime_img}
treeinfo images-${basearch} boot.iso images/boot.iso
